@page
@model IndexModel
@{
    ViewData["Title"] = "awards";
 
}
@section Seo{

}

<!-- Header Banner-->
<div id="header-banner" class="header-banner clearfix award-banner">
    <div id="header-banner-inner" class="container clearfix">
        <div class="header-banner-inner-wrap">
            <div class="blog-standar-start">
                <h1 class="blog-standar-start1">Awards</h1>
            </div>

        </div><!-- /.header-banner-inner-wrap -->
    </div><!-- /#header-banner-inner -->

</div>
<!-- End Header Banner -->
<!-- OUR CREATIVE TEAM -->
<div class="row-our-team">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="themesflat-spacer clearfix" data-desktop="60" data-mobile="60" data-smobile="60"></div>
            </div><!-- /.col-md-12 -->
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="themesflat-headings our-team style-2 text-center wow fadeInUp clearfix">
                    <span class="heading-shadown-text style-3">Awards</span>
                    <h2 class="heading">Achievements and Certification</h2>
                    <p class="sub-heading">RES has been recognised for its achievements and excellence by various national and international bodies. Some of our awards are:</p>

                </div>
                <div class="themesflat-spacer clearfix" data-desktop="55" data-mobile="35" data-smobile="35"></div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-4 ">
                <div class="box-work wow fadeInUp">
                    <!-- <span class="icon zingbox-icon-pin-energy "></span> -->
                    <img src="~/img/awards.png" alt="Image">
                    <div class="text-wrap">
                        <h6 class="heading">FAPCCI Award for industrial achievement and Technology Devlopment</h6>

                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="box-work wow fadeInDown">
                    <!-- <span class="icon zingbox-icon-solar-fan "></span> -->
                    <img src="~/img/awards.png" alt="Image">
                    <div class="text-wrap">
                        <h6 class="heading">National Award Winner for Sucessful Commercilisation for public funded R&D BY DSIR in 1990</h6>


                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="box-work wow fadeInUp">
                    <!-- <span class="icon zingbox-icon-powe-poles"></span> -->
                    <img src="~/img/awards.png" alt="Image">
                    <div class="text-wrap">
                        <h6 class="heading">National Award For Indigenisation . Awarded by Department of Defence Production Government of INDIA</h6>
                        <div class="sep clearfix"></div>


                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 pt-5">
            <h3>We are also certified by ISO 9001:2015 for quality management systems.</h3>
        </div>
        <div class="col-md-12">
            <div class="themesflat-spacer clearfix" data-desktop="122" data-mobile="60" data-smobile="60"></div>
        </div>
    </div><!-- /.container -->
</div>
<!-- END OUR CREATIVE TEAM -->