@page
@model IndexModel
@{
    ViewData["Title"] = "company";
    var imgStyle = "../../../../img/page-banner/aboutus-banner.jpg";
}
@section Seo{

}

<!-- Header Banner-->
<div id="header-banner" class="header-banner clearfix" style="background-image: url(@imgStyle);">
    <div id="header-banner-inner" class="container clearfix">
        <div class="header-banner-inner-wrap">
            <div class="blog-standar-start">
                <h1 class="blog-standar-start1">ABOUT US</h1>
            </div>

        </div><!-- /.header-banner-inner-wrap -->
    </div><!-- /#header-banner-inner -->

</div>
<!-- End Header Banner -->
<!-- ABOUT US -->
<div class="row-aubout-us">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="themesflat-spacer clearfix" data-desktop="164" data-mobile="60" data-smobile="60"></div>
                <img class="img-about-us" src="~/img/testing/battery-heat-generating-calorific-value-testing.jpg" alt="Image">
                <img class="img-about-us-1" src="~/img/shortcode/about-us/about-us-left-1.png" alt="Image">
                <img class="img-about-us-2" src="~/img/shortcode/about-us/about-us-left-2.png" alt="Image">

                <div class="themesflat-counter wow fadeInUp  clearfix">
                    <div class="counter-item-about-us">
                        <div class="text-wrap ">
                            <div class="icon"></div>
                            <div class="number-wrap">
                                <span class="number" data-speed="3000" data-to="35" data-inviewport="yes">35</span> <span class="suffix">+</span>
                            </div>
                        </div>
                        <h3 class="heading ">Years Of Experiences</h3>
                    </div>
                </div>
                <div class="themesflat-spacer clearfix" data-desktop="121" data-mobile="60" data-smobile="60"></div>
            </div>
            <div class="col-md-6">
                <div class="themesflat-spacer clearfix" data-desktop="180" data-mobile="60" data-smobile="60"></div>
                <div class="themesflat-headings about-us style-2  clearfix">
                    <span class="heading-shadown-text style-2" style="top:13%">ABOUT</span>
                    <h2 class="heading wow fadeInUp mb-5">
                        RENEWABLE ENERGY SYSTEMS LIMITED, HYDERABAD, INDIA was incorporated in the year 1984.
                    </h2>
                    <p class="sub-heading wow fadeInDown">
                        RES is the first company to design and produce the thermal battery in India. Company has acquired technology from BDL and DRDL and started manufacturing Thermal Batteries. RES has designed and produced different types of thermal batteries for various missiles and supplied around 100,000 batteries to the Ministry of Defence.

                    </p>
                    <h3 class="wow fadeInDown">
                        Renewable Energy Systems Ltd (RES) is an ISO 9001 certified company.
                    </h3>
                    <p class="sub-heading wow fadeInDown">
                        RES has gained a wealth of experience in Battery Design, Safe Production practices and Qualifing for Stringent Defence Requirements..


                    </p>
                    <p class="sub-heading wow fadeInDown">RES is equipped with a comprehensive design & battery test facility. RES is equipped with modern production, development and test facilities. Thermal batteries produced in RES are designed to withstand extreme temperatures (very high or very low), vibrations, shocks, vacuum, very high or low pressures/centrifugal forces high impact regimes, applicable EMI/EMC standards.</p>


                </div>

                <div class="themesflat-spacer clearfix" data-desktop="68" data-mobile="120" data-smobile="85"></div>
            </div>
        </div>
    </div>
</div>
<!-- END ABOUT US -->
<!-- REQUEST-->
<div class="row-request style-2 mb-12">
    <div class="col-xl-6 col-lg-12">
        <img class="img-left style-2" src="~/img/bg/about-bg.jpg" alt="Image">
    </div>

    <div>
        <div class="row-request-inner">
            <div class="row-request-right wow fadeInUp">
                <div class="themesflat-headings style-1  clearfix wow fadeInUp">

                    <p class="sub-heading padding-bottom-40">
                        Our high-performance batteries are constantly being checked both in-house and at the customer’s test facilities through rigorous field trials matching up to the protocols of the weapon system and to meet the exact defence standards.

                    </p>
                    <p class="sub-heading padding-bottom-40">
                        Methodologies and evidences are made available to demonstrate the reliability & performance of our thermal batteries over three decades. Our battery R&D encompasses multiple electro chemistries including Lithium. To serve the Indian defence requirements we are presently developing thermal batteries with an operation duration exceeding 15 minutes for use in long range weapons systems.

                    </p>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- END REQUEST -->