@page
@model RES.Web.Pages.contactsModel
@{
    ViewData["Title"] = "contacts";
}

@section Seo{
    <title>Customizing Battery Solutions with the Power of Innovation  | Thermal batteries </title>
    <meta name="description" content="India’s first Thermal battery manufacturer. Powering defence since 1985 with heat and liquid reserve batteries.">
    <meta name="keywords" content="">
    <meta name="author" content="Renewable Energy Systems Ltd">
    <meta name="robots" content="Index, Follow">
    <meta name="googlebot" content="index,follow" />
    <meta name="allow search" content="index,follow" />
    <meta name="revisit-after" content="daily" />
    <meta name="distribution" content="global" />
    <meta name="language" content="English" />
    <meta name="geo.region" content="India" />
    <meta name="geo.placename" content="India" />
    <meta property="og:title" content="Customizing Battery Solutions with the Power of Innovation  | Thermal batteries " />
    <meta property="og:site_name" content="Renewable Energy Systems Ltd." />
    <meta property="og:description" content="India’s first Thermal battery manufacturer. Powering defence since 1985 with heat and liquid reserve batteries." />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="Website" />
}

<!-- Header Banner-->
<div id="" class="header-banner clearfix ">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3804.6098038862547!2d78.45375247521257!3d17.526130298793394!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb8fe5f2460a65%3A0x663bbda4d552d2d8!2sRenewable%20Energy%20Systems%20Ltd.!5e0!3m2!1sen!2sin!4v1688620930353!5m2!1sen!2sin" width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <div class="header-banner-inner-wrap">
    </div><!-- /#header-banner-inner -->

</div>
<!-- End Header Banner -->
<!-- ABOUT US -->
<div class="row-aubout-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="themesflat-spacer clearfix" data-desktop="0" data-mobile="0" data-smobile="0"></div>
            </div><!-- /.col-md-12 -->
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="themesflat-headings our-team style-2 text-center wow fadeInUp clearfix">
                </div>
                <div class="themesflat-spacer clearfix" data-desktop="55" data-mobile="35" data-smobile="35"></div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-12 mb-3">
                <div class="project-detail-content">
                    <div class="heading">

                        <div class="top-information">
                            <div class="project-infor">
                                <h3 class="text-white">
                                    Renewable Energy Systems Ltd.
                                </h3>
                                <p>
                                    Plot No.D-13, Phase-V
                                    I.D.A. Jeedimetla<br />
                                    Hyderabad-500055,
                                    Telangana, India.
                                </p>
                            </div>
                            <div class="category">
                                <h3 class="text-white">CONTACT</h3>
                                <p>
                                    040-42616355

                                </p>
                            </div>
                            <div class="date">
                                <h3 class="text-white">Email</h3>
                                <p>info@resindia.co.in</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-5" style="margin-top: 1%">
            <div class="col-md-12 mb-5">
                <div class="card blue-light-bg">
                    <div class="card-header bg-primary text-white"><strong>For Sales Enquiry</strong></div>
                    <div class="card-body p-4">

                        @using (Html.BeginForm(FormMethod.Post))
                        {



                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <input type="text" placeholder="Name">




                                 


                                </div>
                                <div class="col-md-6 mb-3">
                                    <input type="text" placeholder="Email ID">
                                </div>


                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <input type="text" placeholder="Phone No.">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <input type="text" placeholder="Sales Query">
                                </div>


                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-submit">

                                        <div class="send">
                                            <button class="message-submit" type="submit">Send Message</button>



                                            <button asp-page-handler="Register">Register</button>
                                            <button asp-page-handler="Request">Request Info</button>

                                            <form method="post">
                                                <input type="submit" value="Asp.net" asp-page-handler="Aspnet" asp-route-valuecount="10" />
                                                <input type="submit" value="Asp.net MVC" asp-page-handler="Aspnetmvc" asp-route-valuecount="12" />
                                                <input type="submit" value="Asp.net Core" asp-page-handler="Aspnetcore" asp-route-valuecount="15" />
                                                <input type="submit" value="LINQ" asp-page-handler="Linq" asp-route-valuecount="20" />
                                                <input type="submit" value="HTML" asp-page-handler="Html" asp-route-valuecount="10" />
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                    </div>
                </div>

            </div>
            <div class="col-md-12 mb-3">
                <div class="card blue-light-bg">
                    <div class="card-header bg-primary text-white"><strong>For Queries</strong></div>
                    <div class="card-body p-4">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <input type="text" placeholder="Name">
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="text" placeholder="Email ID">
                            </div>


                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <input type="text" placeholder="Phone No.">
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="text" placeholder="Query">
                            </div>


                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-submit">

                                    <div class="send">
                                        <button class="message-submit" type="submit">Send Message</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>






        <div class="themesflat-spacer clearfix" data-desktop="55" data-mobile="35" data-smobile="35"></div>



    </div>
</div>
<!-- END ABOUT US -->