@page
@model IndexModel
@{
    ViewData["Title"] = "company";
   
}
@section Seo{
    <title>Customizing Battery Solutions with the Power of Innovation  | Thermal batteries </title>
    <meta name="description" content="India’s first Thermal battery manufacturer. Powering defence since 1985 with heat and liquid reserve batteries.">
    <meta name="keywords" content="">
    <meta name="author" content="Renewable Energy Systems Ltd">
    <meta name="robots" content="Index, Follow">
    <meta name="googlebot" content="index,follow" />
    <meta name="allow search" content="index,follow" />
    <meta name="revisit-after" content="daily" />
    <meta name="distribution" content="global" />
    <meta name="language" content="English" />
    <meta name="geo.region" content="India" />
    <meta name="geo.placename" content="India" />
    <meta property="og:title" content="Customizing Battery Solutions with the Power of Innovation  | Thermal batteries " />
    <meta property="og:site_name" content="Renewable Energy Systems Ltd." />
    <meta property="og:description" content="India’s first Thermal battery manufacturer. Powering defence since 1985 with heat and liquid reserve batteries." />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="Website" />
}

<!-- Header Banner-->
<div id="header-banner" class="aboutus-banner clearfix">
                <div id="header-banner-inner" class="container clearfix">
                    <div class="header-banner-inner-wrap">                    
                        <div class="blog-standar-start">
                <h1 class="blog-standar-start1"><span class="heading-top">Our History</span></h1>
                        </div>
                                     
                    </div><!-- /.header-banner-inner-wrap -->
                </div><!-- /#header-banner-inner -->  
                        
            </div>
<!-- End Header Banner -->
<!-- ABOUT US -->
<div class="row-aubout-us">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="themesflat-spacer clearfix" data-desktop="164" data-mobile="60" data-smobile="60"></div>
                <img class="img-about-us" src="~/img/testing/battery-heat-generating-calorific-value-testing.jpg" alt="Image">
                <img class="img-about-us-1" src="~/img/shortcode/about-us/about-us-left-1.png" alt="Image">
                <img class="img-about-us-2" src="~/img/shortcode/about-us/about-us-left-2.png" alt="Image">

                <div class="themesflat-counter wow fadeInUp  clearfix">
                    <div class="counter-item-about-us">
                        <div class="text-wrap ">
                            <div class="icon"></div>
                            <div class="number-wrap">
                                <span class="number" data-speed="3000" data-to="35" data-inviewport="yes">35</span> <span class="suffix">+</span>
                            </div>
                        </div>
                        <h3 class="heading ">Years Of Experiences</h3>
                    </div>
                </div>
                <div class="themesflat-spacer clearfix" data-desktop="121" data-mobile="60" data-smobile="60"></div>
            </div>
            <div class="col-md-6">
                <div class="themesflat-spacer clearfix" data-desktop="180" data-mobile="60" data-smobile="60"></div>
                <div class="themesflat-headings about-us style-2  clearfix">
                  
                    <h2 class="heading wow fadeInUp mb-5">
                        <strong>RENEWABLE ENERGY SYSTEMS LIMITED, HYDERABAD, INDIA was incorporated in the year 1985.</strong>
                    </h2>                    
                    <p class="sub-heading wow fadeInDown">
                        Renewable Energy Systems Ltd. (RESL) has been a pioneer in the field of thermal batteries since its establishment in 1985, with its headquarters in Hyderabad, Telangana, India. The company's journey began by acquiring thermal battery technology from DRDO & USSR, paving the way for commercial production and supplies to the Defence establishment and other sectors. A significant milestone was achieved in 1995 when RESL successfully developed and produced thermal battery systems specifically designed for missile applications. Over the years, we have proudly supplied over 2.5 lakh batteries to Defence establishments and other esteemed customers.

                    </p>
                   
                </div>

                <div class="themesflat-spacer clearfix" data-desktop="68" data-mobile="120" data-smobile="85"></div>
            </div>
        </div>
    </div>
</div>
<!-- END ABOUT US -->
<!-- REQUEST-->
@*<div class="row-request style-2 mb-12">
    <div class="col-xl-6 col-lg-12">
        <img class="img-left style-2" src="~/img/bg/about-bg.jpg" alt="Image">
    </div>

    <div>
        <div class="row-request-inner">
            <div class="row-request-right wow fadeInUp">
                <div class="themesflat-headings style-1  clearfix wow fadeInUp">

                    <p class="sub-heading padding-bottom-40">
                        Our high-performance batteries are constantly being checked both in-house and at the customer’s test facilities through rigorous field trials matching up to the protocols of the weapon system and to meet the exact defence standards.

                    </p>
                    <p class="sub-heading padding-bottom-40">
                        Methodologies and evidences are made available to demonstrate the reliability & performance of our thermal batteries over three decades. Our battery R&D encompasses multiple electro chemistries including Lithium. To serve the Indian defence requirements we are presently developing thermal batteries with an operation duration exceeding 15 minutes for use in long range weapons systems.

                    </p>
                </div>

            </div>
        </div>
    </div>
</div>*@
<!-- END REQUEST -->