@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@section Seo{
    <title>Customizing Battery Solutions with the Power of Innovation  | Thermal batteries </title>
    <meta name="description" content="India’s first Thermal battery manufacturer. Powering defence since 1985 with heat and liquid reserve batteries.">
    <meta name="keywords" content="">
    <meta name="author" content="Renewable Energy Systems Ltd">
    <meta name="robots" content="Index, Follow">
    <meta name="googlebot" content="index,follow" />
    <meta name="allow search" content="index,follow" />
    <meta name="revisit-after" content="daily" />
    <meta name="distribution" content="global" />
    <meta name="language" content="English" />
    <meta name="geo.region" content="India" />
    <meta name="geo.placename" content="India" />
    <meta property="og:title" content="Customizing Battery Solutions with the Power of Innovation  | Thermal batteries " />
    <meta property="og:site_name" content="Renewable Energy Systems Ltd." />
    <meta property="og:description" content="India’s first Thermal battery manufacturer. Powering defence since 1985 with heat and liquid reserve batteries." />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="Website" />
}

<!-- SLIDER -->

<div class="rev_slider_wrapper fullwidthbanner-container-fluid ">
    <div id="rev-slider2" class="rev_slider fullwidthabanner-container-fluid ">
        <ul>
            <!-- Slide 1 -->
            <li data-transition="random">
                <!-- Main Image -->
                <div>
                    <img src="~/img/slider/slider-home-12.jpg" class="img-responsive wow fadeInDown" alt="" data-bgposition="center center" data-no-retina>
                </div>


                <!-- Layers -->
                @* <div class="tp-caption tp-resizeme content-color"
                data-x="['left','left','left','center']" data-hoffset="['240','14','14','0']"
                data-y="['middle','middle','middle','middle']" data-voffset="['-40','0','0','0']"
                data-whitespace="normal"
                data-transform_idle="o:1;"
                data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                data-mask_in="x:0px;y:[100%];"
                data-mask_out="x:inherit;y:inherit;"
                data-start="300"
                data-splitin="none"
                data-splitout="none"
                data-responsive_offset="on">
                </div>*@

                <div class="tp-caption tp-resizeme font-heading font-weight-500"
                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['-80','-80','-80','-50']"
                     data-fontsize="['55','46','30','35']"
                     data-lineheight="['95','75','55','40']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="850"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on">
                    <span class="heading-tittle">Renewable Energy Systems Ltd.</span>
                </div>

                <div class="tp-caption tp-resizeme text-white font-heading font-weight-400"
                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['30','50','50','60']"
                     data-fontsize="['36','36','30','18']"
                     data-lineheight="['80','55','55','40']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="600"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on">
                    <span class="tittle1 hidden-sm-down">Customizing Battery Solutions with the Power of Innovation Since 1985</span>
                     <span class="tittle1 hidden-sm-up">Customizing Battery Solutions with the Power of Innovation Since 1985</span>
                </div>

                @*  <div class="tp-caption tp-resizeme line"
                data-x="['left','left','left','center']" data-hoffset="['291','34','34','-15']"
                data-y="['middle','middle','middle','middle']" data-voffset="['5','10','10','-15']"
                data-whitespace="normal"
                data-transform_idle="o:1;"
                data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                data-mask_in="x:0px;y:[100%];"
                data-mask_out="x:inherit;y:inherit;"
                data-start="600"
                data-splitin="none"
                data-splitout="none"
                data-responsive_offset="on">
                </div>*@

                @* <div class="tp-caption tp-resizeme text-white font-heading font-weight-400"
                data-x="['left','left','left','center']" data-hoffset="['291','34','34','0']"
                data-y="['middle','middle','middle','middle']" data-voffset="['60','64','64','44']"
                data-fontsize="['18','18','16','15']"
                data-lineheight="['30','20','20','16']"
                data-width="full"
                data-height="none"
                data-whitespace="normal"
                data-transform_idle="o:1;"
                data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                data-mask_in="x:0px;y:[100%];"
                data-mask_out="x:inherit;y:inherit;"
                data-start="600"
                data-splitin="none"
                data-splitout="none"
                data-responsive_offset="on">
                Welcome to Renewable Energy Systems Ltd. (RESL), India's foremost<br /> manufacturer of Thermal batteries for defence applications in India.

                </div>*@

                @*<div class="tp-caption"
                data-x="['left','left','left','center']" data-hoffset="['291','34','34','0']"
                data-y="['middle','middle','middle','middle']" data-voffset="['155','140','140','120']"
                data-width="full"
                data-height="none"
                data-whitespace="normal"
                data-transform_idle="o:1;"
                data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                data-mask_in="x:0px;y:[100%];"
                data-mask_out="x:inherit;y:inherit;"
                data-start="700"
                data-splitin="none"
                data-splitout="none"
                data-responsive_offset="on">
                </div>*@
            </li>
            <!-- /End Slide 1 -->
            <!-- Slide 2 -->
            @*<li data-transition="random">
            <!-- Main Image -->
            <div>
            <img src="~/img/slider/slider-home-3.jpg" class="wow fadeInDown animated" alt=""  data-bgposition="top left" data-no-retina>
            </div>


            <!-- Layers -->
            <div class="tp-caption tp-resizeme content-color"
            data-x="['left','left','left','center']" data-hoffset="['240','14','14','0']"
            data-y="['middle','middle','middle','middle']" data-voffset="['-40','0','0','0']"
            data-whitespace="normal"
            data-transform_idle="o:1;"
            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
            data-mask_in="x:0px;y:[100%];"
            data-mask_out="x:inherit;y:inherit;"
            data-start="500"
            data-splitin="none"
            data-splitout="none"
            data-responsive_offset="on">
            </div>

            <div class="tp-caption tp-resizeme text-green font-heading font-weight-500"
            data-x="['left','left','left','center']" data-hoffset="['291','34','34','0']"
            data-y="['middle','middle','middle','middle']" data-voffset="['-175','-160','-160','-140']"
            data-fontsize="['30','30','22','22']"
            data-lineheight="['30','30','22','22']"
            data-width="full"
            data-height="none"
            data-whitespace="normal"
            data-transform_idle="o:1;"
            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
            data-mask_in="x:0px;y:[100%];"
            data-mask_out="x:inherit;y:inherit;"
            data-start="800"
            data-splitin="none"
            data-splitout="none"
            data-responsive_offset="on">
            <span class="heading-tittle">Renewable Energy Systems Ltd.</span>
            </div>

            <div class="tp-caption tp-resizeme text-white font-heading font-weight-400"
            data-x="['left','left','left','center']" data-hoffset="['291','34','34','0']"
            data-y="['middle','middle','middle','middle']" data-voffset="['-81','-67','-67','-77']"
            data-fontsize="['40','40','40','20']"
            data-lineheight="['55','55','55','40']"
            data-width="full"
            data-height="none"
            data-whitespace="normal"
            data-transform_idle="o:1;"
            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
            data-mask_in="x:0px;y:[100%];"
            data-mask_out="x:inherit;y:inherit;"
            data-start="700"
            data-splitin="none"
            data-splitout="none"
            data-responsive_offset="on">
            <span class="tittle1">Customizing Battery Solutions with the   <br> Power of Innovation Since 1985</span>
            </div>

            <div class="tp-caption tp-resizeme line"
            data-x="['left','left','left','center']" data-hoffset="['291','34','34','-15']"
            data-y="['middle','middle','middle','middle']" data-voffset="['5','10','10','-15']"
            data-whitespace="normal"
            data-transform_idle="o:1;"
            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
            data-mask_in="x:0px;y:[100%];"
            data-mask_out="x:inherit;y:inherit;"
            data-start="750"
            data-splitin="none"
            data-splitout="none"
            data-responsive_offset="on">
            </div>

            <div class="tp-caption tp-resizeme text-white font-heading font-weight-400"
            data-x="['left','left','left','center']" data-hoffset="['291','34','34','0']"
            data-y="['middle','middle','middle','middle']" data-voffset="['60','64','64','44']"
            data-fontsize="['18','18','16','15']"
            data-lineheight="['30','20','20','16']"
            data-width="full"
            data-height="none"
            data-whitespace="normal"
            data-transform_idle="o:1;"
            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
            data-mask_in="x:0px;y:[100%];"
            data-mask_out="x:inherit;y:inherit;"
            data-start="750"
            data-splitin="none"
            data-splitout="none"
            data-responsive_offset="on">
            With a history of over 38 years, RESL takes pride in designing, developing,<br /> and supplying high-quality batteries that precisely meet the stringent<br /> specifications of our valued customers.

            </div>

            <div class="tp-caption"
            data-x="['left','left','left','center']" data-hoffset="['291','34','34','0']"
            data-y="['middle','middle','middle','middle']" data-voffset="['155','140','140','120']"
            data-width="full"
            data-height="none"
            data-whitespace="normal"
            data-transform_idle="o:1;"
            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
            data-mask_in="x:0px;y:[100%];"
            data-mask_out="x:inherit;y:inherit;"
            data-start="700"
            data-splitin="none"
            data-splitout="none"
            data-responsive_offset="on">
            </div>
            </li>*@
            <!-- /End Slide 2 -->


        </ul>
    </div>
</div>
<!-- END SLIDER -->
<!-- SERVICES -->
<div class="row-service">
    <div class="service ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="themesflat-spacer clearfix" data-desktop="114" data-mobile="60" data-smobile="60"></div>
                    <div class="themesflat-headings style-1 text-center wow fadeInUp clearfix">
                        <h3 class="heading mb-5">SERVICES OF RESL</h3>
                        <p class="sub-heading">Thermal Battery testing is a destructive test and is performed for defined number of samples for a batch on the production line. Random testing is also done at storage and deployment locations. To ensure the battery withstands mechanical and thermal stresses the battery is tested for electrical parameters after exposing it to severe mechanical and thermal stresses.</p>
                    </div>
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
        </div>
    </div>
    <div id="service-inner" class="container">
        <div class="row">
            <div class="col-md-4">
                <div class=" box-service wow fadeInDown">
                    <div class="service-inner-img">
                        <div class="img-overlay"></div>
                        <img src="~/img/home/services-1.jpg" alt="Image">
                    </div>
                    <div class="service-inner-text" style="min-height: 216px;">
                        <div class="icon zingbox-icon-sola-plant"></div>
                        <div class="text-wrap">
                            <h4 class="heading">Battery testing</h4>
                            <div class="sep clearfix"></div>
                            <a asp-area="" asp-page="/services" class="service-read-more">Read More <i class="fa fa-arrow-right"></i> </a>
                        </div>

                    </div>
                </div>
            </div><!-- /.col-md-4 -->
            <div class="col-md-4 ">
                <div class="box-service wow fadeInUp ">
                    <div class="service-inner-img">
                        <div class="img-overlay"></div>
                        <img src="~/img/home/services-2.jpg" alt="Image">

                    </div>
                    <div class="service-inner-text" style="min-height: 216px;">
                        <div class="icon zingbox-icon-traffic-light"></div>
                        <div class="text-wrap">
                            <h4 class="heading">Battery maintenance</h4>
                            <div class="sep clearfix"></div>

                            <a asp-area="" asp-page="/services" class="service-read-more">Read More <i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div><!-- /.col-md-4 -->
            <div class="col-md-4 ">
                <div class="box-service wow fadeInDown ">
                    <div class="service-inner-img">
                        <div class="img-overlay"></div>
                        <img src="~/img/home/services-3.jpg" alt="Image">                       
                    </div>

                    <div class="service-inner-text" style="min-height: 216px;">
                        <div class="icon zingbox-icon-enegy"></div>
                        <div class="text-wrap">
                            <h4 class="heading">Design and Engineering</h4>
                            <div class="sep clearfix"></div>

                            <a asp-area="" asp-page="/services" class="service-read-more">Read More <i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div><!-- /.col-md-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
<!-- END SERVICES -->
<!-- EXPERIENCES-->
<div class="row-experiences-2">
    
    <div class="row">
        <div class="col-xl-12 hidden-sm-down">
            <div class="experience-left flat-tab">
                <div class="container">
                <div class="themesflat-spacer clearfix" data-desktop="60" data-mobile="60" data-smobile="60"></div>                
                <ul class="tab-title title wow fadeInUp mb-0">
                        <li class="item-title active"><span>Our Expertise</span> </li>
                        <li class="item-title"><span>Innovation and Research</span></li>
                        <li class="item-title"><span>State-of-the-Art Manufacturing and Testing</span></li>
                        <li class="item-title"><span>Commitment to Excellence</span></li>
                        <li class="item-title"><span>Contact Us</span></li>
                </ul>
                <div class="tab-content-wrap clearfix p-5 bg-white">
                    <div class="tab-content">
                        <div class="item-content">
                            <div class="infor ">
                                    At RESL, we specialise in providing top-notch battery solutions for various applications, including Torpedoes, Sonobuoys, Decoys, Mines, UAVs, Missiles, and more. Our commitment to excellence has made us a trusted name in the industry, and we take pride in offering the perfect battery solution tailored to your specific needs.
                            </div>                           
                        </div>
                    </div><!-- /.tab-content -->
                    <div class="tab-content">
                        <div class="item-content">
                            <div class="infor ">
                                    Our dedicated R&D team works tirelessly to drive innovation and improve our products continually. We firmly believe in harnessing cutting-edge technology's power to enhance our batteries' performance and efficiency. With RESL, you can rest assured that you'll have access to the latest advancements in battery technology.
                            </div>
                            
                        </div>
                    </div><!-- /.tab-content -->
                    <div class="tab-content">
                        <div class="item-content">
                            <div class="infor ">
                                    Equipped with state-of-the-art manufacturing facilities, RESL ensures that each battery is crafted with precision and care. Our in-house testing facilities guarantee that every battery leaving our premises meets the highest quality standards. RESL provides reliable and durable battery solutions by combining innovation, expertise, and advanced manufacturing.

                            </div>
                           
                        </div>
                    </div><!-- /.tab-content -->
                    <div class="tab-content">
                        <div class="item-content">
                            <div class="infor ">
                                    At RESL, we hold ourselves to the highest quality standards, ensuring our products consistently meet and exceed your expectations. Our dedication to on-time delivery and unwavering customer satisfaction make us a preferred defence application choice.

                                </div>                            
                        </div>
                    </div><!-- /.tab-content -->
                        <div class="tab-content">
                            <div class="item-content">
                                <div class="infor ">
                                    Contact us today to Discover how RESL can meet your battery needs! Our team of experts is ready to assist you in finding the perfect battery solution for your specific requirements.
                                </div>
                                
                            </div>
                        </div><!-- /.tab-content -->
                </div><!-- /.tab-content-wrap -->
                </div>
            </div>
        </div>

        <div class="container hidden-sm-up">
            <div class="col-xl-12">
                <div class="question-faq">
                    <div class="accordion-item active">
                        <div class="question">Our Expertise</div>
                        <div class="infor-question">
                            <span>
                                At RESL, we specialise in providing top-notch battery solutions for various applications, including Torpedoes, Sonobuoys, Decoys, Mines, UAVs, Missiles, and more. Our commitment to excellence has made us a trusted name in the industry, and we take pride in offering the perfect battery solution tailored to your specific needs.
                            </span>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="question">Innovation and Research</div>
                        <div class="infor-question">
                            <span>
                                Our dedicated R&D team works tirelessly to drive innovation and improve our products continually. We firmly believe in harnessing cutting-edge technology's power to enhance our batteries' performance and efficiency. With RESL, you can rest assured that you'll have access to the latest advancements in battery technology.

                            </span>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="question">State-of-the-Art Manufacturing and Testing</div>
                        <div class="infor-question">
                            <span>
                                Equipped with state-of-the-art manufacturing facilities, RESL ensures that each battery is crafted with precision and care. Our in-house testing facilities guarantee that every battery leaving our premises meets the highest quality standards. RESL provides reliable and durable battery solutions by combining innovation, expertise, and advanced manufacturing.


                            </span>
                        </div>
                    </div>
                    <div class="accordion-item ">
                        <div class="question ">Commitment to Excellence</div>
                        <div class="infor-question ">
                            <span>
                                At RESL, we hold ourselves to the highest quality standards, ensuring our products consistently meet and exceed your expectations. Our dedication to on-time delivery and unwavering customer satisfaction make us a preferred defence application choice.


                            </span>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="question">Contact Us</div>
                        <div class="infor-question">
                            <span>
                                Contact us today to Discover how RESL can meet your battery needs! Our team of experts is ready to assist you in finding the perfect battery solution for your specific requirements.

                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       




    </div>

</div>
<!-- END EXPERIENCES -->




<!-- EXPERIENCES-->
<div class="row-experiences ">
    <div class="container">
        <div class=" row-experiences-content wow zoomInDown">
            <div class="row">
                <h2 class="heading-experiences text-white mb-5">Powering Defence since 1985</h2>
            </div>
            <div class="row">
                <p class="content">
                    RESL is the first company to design and produce the thermal battery in India.<br>
                    Company has acquired technology from BDL and DRDL and started manufacturing<br>
                    Thermal Batteries. RESL has designed and produced different types of thermal batteries<br>
                    for various missiles and supplied around 100,000 batteries to the Ministry of Defence.


                </p>
            </div>

        </div>
        <div class="row row-experiences-bottom wow fadeInUp">
            <div class="col-md-12">
                <h2 class="heading-experiences text-white">&nbsp;</h2>
            </div>

        </div>
    </div>
</div>
<!-- END EXPERIENCES -->
<!-- IMAGE -->
<div class="row-image bg-faded">
    <div class="container-fluid">
        <div class="themesflat-spacer clearfix" data-desktop="60" data-mobile="321" data-smobile="320"></div>

        <div class="row">
            <div class="col-md-4">
            <div class="services-page__single">
                <div class="services-page__single-icon">                     
                        <span class="icon safety"></span>
                </div>
                <div class="services-page__single-inner">
                        <h3><strong>SAFETY MEASURES</strong></h3>
                        <p>RESL has taken specific initiatives in bringing forth safety procedures in manufacturing process of thermal batteries. Work practices are monitored to develop safe habits and attitude among employees.</p>

                    <div class="btn-box">
                            <a asp-area="" asp-page="/services"><i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
         <div class="col-md-4">
            <div class="services-page__single">
                <div class="services-page__single-icon">
                        <span class="icon goal"></span>
                </div>
                    <div class="services-page__single-inner">
                        <h3><strong>OUR GOAL</strong></h3>
                        <p>The modus operandi of RESL is always towards achieving product excellence which brings value addition to all our products and services.</p>

                        <div class="btn-box">
                            <a asp-area="" asp-page="/our-ethics"><i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
            </div>
        </div>
            <div class="col-md-4">
                <div class="services-page__single">
                    <div class="services-page__single-icon">
                        <span class="icon target"></span>
                    </div>
                    <div class="services-page__single-inner">
                        <h3><strong>The Main Focus</strong></h3>
                        <p>The R & D focus for Thermal Batteries is mainly in electro-chemical engineering, materials characterization, design of activation systems, and materials & system simulations leading to development of innovative technologies in manufacturing processes.</p>

                        <div class="btn-box">
                            <a asp-area="" asp-page="/research-and-development"><i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
         </div>
        <div class="themesflat-spacer clearfix" data-desktop="60" data-mobile="60" data-smobile="60"></div>
       @* <div class="row">

            <div class="col-md-4 ">
                <div class="box-img   wow fadeInUp">
                    <div class="img">
                        <img src="~/img/home/safety-1.jpg" alt="Image">
                    </div>
                    <div class="row-image-content active">
                        <div class="row-image-content-text">
                            <div><span class="tittle"><strong>SAFETY MEASURES</strong></span></div>
                            <p>RESL has taken specific initiatives in bringing forth safety procedures in manufacturing process of thermal batteries. Work practices are monitored to develop safe habits and attitude among employees.</p>

                        </div>
                        <div class="row-image-content-link"><a href="" class="icon"><i class="fa fa-arrow-right"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="box-img wow fadeInUp">
                    <div class="img">
                        <img src="~/img/home/our-goal.jpg" alt="Image">
                    </div>
                    <div class="row-image-content">
                        <div class="row-image-content-text">
                            <div><span class="tittle"><strong>OUR GOAL</strong></span></div>
                            <p>The modus operandi of RESL is always towards achieving product excellence which brings value addition to all our products and services.</p>

                        </div>
                        <div class="row-image-content-link"><a href="" class="icon"><i class="fa fa-arrow-right"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="box-img  wow fadeInUp">
                    <div class="img">
                        <img src="~/img/home/focus.jpg" alt="Image">
                    </div>
                    <div class="row-image-content">
                        <div class="row-image-content-text">
                            <div><span class="tittle"><strong>The Main Focus</strong></span></div>
                            <p>The R & D focus for Thermal Batteries is mainly in electro-chemical engineering, materials characterization, design of activation systems, and materials & system simulations leading to development of innovative technologies in manufacturing processes.</p>

                        </div>
                        <div class="row-image-content-link"><a href="" class="icon"><i class="fa fa-arrow-right"></i></a></div>
                    </div>
                </div>
            </div>

        </div>*@
    </div>
</div>
<!--END IMAGE -->
<!-- WORK -->
<div class="row-work">
    <img class="bg-img" src="~/img/shortcode/work/bg-work.png" alt="Image">
    <div class="container">
        <div class="themesflat-spacer clearfix" data-desktop="60" data-mobile="60" data-smobile="60"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="themesflat-headings style-1 text-center wow fadeInUp clearfix">
                    <h3 class="heading text-black mb-5">Awards</h3>
                    <h3>RESL has gained a wealth of experience in Battery Design, Safe Production practices and Qualifing for Stringent Defence Requirements.</h3>
                </div>
                <div class="themesflat-spacer clearfix" data-desktop="55" data-mobile="35" data-smobile="35"></div>

                <div class="row">
                    <div class="col-md-4 ">
                        <div class="box-work wow fadeInUp">
                            <!-- <span class="icon zingbox-icon-pin-energy "></span> -->
                            <img src="~/img/awards.png" alt="Image">
                            <div class="text-wrap">
                                <h6 class="heading">
                                    <a target="_blank" href="~/img/awards/award.pdf">
                                    National Award Winner for Successful Commercialization for public-funded R&D - DSIR/DST in 1990</a></h6>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="box-work wow fadeInDown">
                            <!-- <span class="icon zingbox-icon-solar-fan "></span> -->
                            <img src="~/img/awards.png" alt="Image">
                            <div class="text-wrap">
                                <h6 class="heading">
                                    <a target="_blank" href="~/img/awards/award.pdf">
                                    FAPCCI Award for industrial achievement and Technology Development</a></h6>


                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="box-work wow fadeInUp">
                            <!-- <span class="icon zingbox-icon-powe-poles"></span> -->
                            <img src="~/img/awards.png" alt="Image">
                            <div class="text-wrap">
                                <h6 class="heading">
                                    <a target="_blank" href="~/img/awards/award.pdf">
                                    National Award For Indigenization - Awarded by the Department of Defence Production, Government of India
                                    </a></h6>
                                <div class="sep clearfix"></div>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="themesflat-spacer clearfix" data-desktop="60" data-mobile="60" data-smobile="60"></div>
                </div>
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div>
</div>
<!-- END WORK -->
<!-- REQUEST-->
<div class="row-request mb-5">


    <div class="container-fluid">
        <div class="row-request-inner">
            <!-- <div class="col-md-6"><img class="img-left" src="~/img/home/BG/solar-panel-with-wind-turbines-against-mountains-sky.png"  alt="" ></div>
            <img class="img-right" src="~/img/home/image/vdzmnl-art.png"  alt=""> -->

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="themesflat-spacer clearfix" data-desktop="60" data-mobile="60" data-smobile="60"></div>
                    </div>
                    <div class="col-lg-6 col-md-8">
                        <div class="themesflat-headings style-1 question  wow fadeInUp clearfix">

                            <h3 class="heading">OUR CLIENTS</h3>
                            <p class="sub-heading">RESL has designed and produced different types of thermal batteries for various missiles and supplied around 100,000 batteries to the Ministry of Defence.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-4">
                        <div class="image-switch">
                            <img class="image" src="~/img/testing/client-img.jpg" alt="Image">
                        </div>
                    </div>
                </div>
                <div class=" row-question-slider ">


                    <div class="owl-carousel owl-theme" data-item='3' data-item2='2'>
                        <div class="item acticle wow fadeInUp bg-white">
                            <div class="img">
                              
                                <img src="~/img/testing/BDL-Logo.jpg" alt="Image">
                            </div>

                            
                        </div>
                        <div class="item acticle wow fadeInUp bg-white">
                            <div class="img">
                               
                                <img src="~/img/testing/DRDO-Logo.jpg" alt="Image">
                            </div>

                        </div>
                        <div class="item acticle wow fadeInUp bg-white">
                            <div class="img">
                              
                                <img src="~/img/testing/NSTL-Logo.jpg" alt="Image">
                            </div>

                        </div>
                        <div class="item acticle wow fadeInUp bg-white">
                            <div class="img">
                                
                                <img src="~/img/testing/RCI-Logo.jpg" alt="Image">
                            </div>

                          
                        </div>
                        <div class="item acticle wow fadeInUp bg-white">
                            <div class="img">
                               
                                <img src="~/img/testing/indian-army-aeroplne-Logo.jpg" alt="Image">
                            </div>

                        </div>
                        <div class="item acticle wow fadeInUp bg-white">
                            <div class="img">
                               
                                <img src="~/img/testing/elbit-Logo.jpg" alt="Image">
                            </div>

                        </div>
                         <div class="item acticle wow fadeInUp bg-white">
                            <div class="img">
                                
                                <img src="~/img/testing/indian-army-Logo.jpg" alt="Image">
                            </div>

                        </div>
                        <div class="item acticle wow fadeInUp bg-white">
                            <div class="img">
                               
                                <img src="~/img/testing/satyamev-Logo.jpg" alt="Image">
                            </div>

                        </div>
                        <div class="item acticle wow fadeInUp bg-white">
                            <div class="img">
                                
                                <img src="~/img/testing/bhsel-Logo.jpg" alt="Image">
                            </div>

                        </div>

                    </div>
                    <div class="col-md-12">
                        <div class="themesflat-spacer clearfix" data-desktop="120" data-mobile="40" data-smobile="40"></div>
                    </div>


                    <div class=" col-md-12">


                        <!-- <div class="swiper-container mySwiper">
                             <div class="swiper-wrapper">
                                 <div class="swiper-slide item1 wow fadeInUp">
                                     <div class="box-question ">
                                         <span class="fa fa-quote-left"></span>
                                         <img src="~/img/testing/BDL-Logo.jpg" alt=""/>

                                   </div>
                                 </div>
                                 <div class="swiper-slide item2 wow fadeInDown">
                                     <div class=" box-question box2">

                                         <span class="fa fa-quote-left"></span>
                                         <img src="~/img/testing/DRDO-Logo.jpg" alt=""/>

                                   </div>
                                 </div>
                                 <div class="swiper-slide item1 wow fadeInUp">
                                     <div class="box-question ">
                                         <span class="fa fa-quote-left"></span>
                                         <img src="~/img/testing/NSTL-Logo.jpg" alt=""/>
                                   </div>
                                 </div>
                                 <div class="swiper-slide item1 wow fadeInUp">
                                     <div class="box-question ">
                                         <span class="fa fa-quote-left"></span>
                                         <img src="~/img/testing/RCI-Logo.jpg" alt=""/>
                                   </div>
                                 </div>
                             </div>
                         </div>
                         <div class="swiper-pagination"></div>-->
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>

<!-- COUNTER -->
<div class="row-counter ">
   
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="themesflat-spacer clearfix" data-desktop="120" data-mobile="60" data-smobile="60"></div>
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
        <div class="row ">
            <div class="col-md-3">
                <div class=" box-counter  wow fadeInUp">
                    <!-- <div class="themesflat-content-box clearfix" data-margin="0 0 0 0" data-mobilemargin="0 0 0 0"> -->
                    <div class="themesflat-counter style-1 align-center clearfix">
                        <div class="counter-item">
                            <div class="inner">
                                <div class="text-wrap box1">
                                    <span class="icon zingbox-icon-author"></span>
                                    <div class="number-wrap">
                                        <span class="number" data-speed="3000" data-to="35" data-inviewport="yes" data-delimitor="1">35</span><span class="suffix">,000</span>
                                    </div>
                                    <h3 class="heading margin-right-6">Happy Customers</h3>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.themesflat-counter -->

                </div>

            </div><!-- /.col-md-3 -->
            <div class="col-md-3 ">
                <div class="box-counter  wow fadeInDown">
                    <!-- <div class="themesflat-content-box clearfix" data-margin="0 0 0 0" data-mobilemargin="0 0 0 0"> -->
                    <div class="themesflat-counter style-1 align-center clearfix">
                        <div class="counter-item">
                            <div class="inner">

                                <div class="text-wrap">
                                    <span class="icon zingbox-icon-book"></span>
                                    <div class="number-wrap">
                                        <span class="number" data-speed="3000" data-to="541" data-inviewport="yes">541</span><span class="suffix">+</span>
                                    </div>
                                    <h3 class="heading margin-right-6">Project Done</h3>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.themesflat-counter -->

                </div>
            </div><!-- /.col-md-3 -->
            <div class="col-md-3">
                <div class="box-counter wow fadeInUp">
                    <!-- <div class="themesflat-content-box clearfix" data-margin="0 0 0 0" data-mobilemargin="0 0 0 0"> -->
                    <div class="themesflat-counter style-1 align-center clearfix">
                        <div class="counter-item">
                            <div class="inner">
                                <div class="text-wrap">
                                    <span class="icon zingbox-icon-diamond"></span>
                                    <div class="number-wrap">
                                        <span class="number" data-speed="3000" data-to="40" data-inviewport="yes">40</span><span class="suffix">+</span>
                                    </div>
                                    <h3 class="heading margin-right-8">Awards Win</h3>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.themesflat-counter -->

                </div>
            </div><!-- /.col-md-3 -->
            <div class="col-md-3">
                <div class="box-counter  wow fadeInDown">
                    <!-- <div class="themesflat-content-box clearfix" data-margin="0 0 0 0" data-mobilemargin="0 0 0 0"> -->
                    <div class="themesflat-counter style-1 align-center clearfix">
                        <div class="counter-item">
                            <div class="inner">
                                <div class="text-wrap">
                                    <span class="icon zingbox-icon-clock"></span>
                                    <div class="number-wrap">
                                        <span class="number" data-speed="3000" data-to="678" data-inviewport="yes">678</span><span class="suffix"></span>
                                    </div>
                                    <h3 class="heading margin-right-10">Client Works</h3>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.themesflat-counter -->

                </div>
            </div><!-- /.col-md-3 -->
        </div><!-- /.row -->
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="themesflat-spacer clearfix" data-desktop="115" data-mobile="60" data-smobile="60"></div>
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
<!-- END COUNTER -->
<!-- END REQUEST -->
<div class="row-question style-2">
    <div class="container-fluid">
        <div class="question">
            <img class="img-left-question" src="~/img/shortcode/about-us/about-us-left-1.png" alt="Image">
            <img class="img-right-question" src="~/img/shortcode/question/bg-question-right.png" alt="Image">
            <div class="row">
                <div class="col-md-12">
                    <div class="themesflat-headings style-1 question text-center wow fadeInUp clearfix">                        
                        <h1 class="heading ">CLIENT TESTIMONIALS</h1>                        
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
                <div class=" row-question-slider " style="display:block !important">


                    <div class="owl-carousel owl-theme" data-item='3' data-item2='2'>
                        <div class="swiper-slide  wow fadeInDown">
                                    <div class=" box-question text-center">
                                        <img src="~/img/shortcode/question/question-1.png" alt="Image">
                                        <span class="fa fa-quote-left"></span>
                            <p>
                                Renewable Energy Systems Limited has been an invaluable partner in our journey of developing cutting-edge Thermal Batteries for our Firing Post and Missile power supply needs. Their batteries have passed stringent Quality tests and have proven instrumental in our collaboration with leading European Defence and Aerospace Companies.
                            </p>
                                        <div class="author-content" style="left:45%">
                                <div class="name-author"><a href="#">BDL</a></div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide  wow fadeInUp">
                                    <div class="box-question text-center">
                        <img src="~/img/shortcode/question/question-1.png" alt="Image">
                                        <span class="fa fa-quote-left"></span>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at est id leo luctus gravida a in ipsum. </p>
                                        <div class="author-content">
                                            <div class="name-author"><a  href="#">Philip Mendez</a></div>
                                            <div><span >Consectetur</span></div>
                                        </div>
                                    </div>
                                </div>

                        <div class="swiper-slide  wow fadeInUp">
                            <div class="box-question text-center">
                        <img src="~/img/shortcode/question/question-1.png" alt="Image">
                                <span class="fa fa-quote-left"></span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at est id leo luctus gravida a in ipsum. </p>
                                <div class="author-content">
                                    <div class="name-author"><a href="#">Philip Mendez</a></div>
                                    <div><span>Consectetur</span></div>
                                </div>
                            </div>
                        </div>





                    </div>
                    <div class="col-md-12">
                        <div class="themesflat-spacer clearfix" data-desktop="120" data-mobile="60" data-smobile="60"></div>
                    </div>


                    <div class=" col-md-12">


                        <!-- <div class="swiper-container mySwiper">
                             <div class="swiper-wrapper">
                                 <div class="swiper-slide item1 wow fadeInUp">
                                     <div class="box-question ">
                                         <span class="fa fa-quote-left"></span>
                                         <img src="~/img/testing/BDL-Logo.jpg" alt=""/>

                                   </div>
                                 </div>
                                 <div class="swiper-slide item2 wow fadeInDown">
                                     <div class=" box-question box2">

                                         <span class="fa fa-quote-left"></span>
                                         <img src="~/img/testing/DRDO-Logo.jpg" alt=""/>

                                   </div>
                                 </div>
                                 <div class="swiper-slide item1 wow fadeInUp">
                                     <div class="box-question ">
                                         <span class="fa fa-quote-left"></span>
                                         <img src="~/img/testing/NSTL-Logo.jpg" alt=""/>
                                   </div>
                                 </div>
                                 <div class="swiper-slide item1 wow fadeInUp">
                                     <div class="box-question ">
                                         <span class="fa fa-quote-left"></span>
                                         <img src="~/img/testing/RCI-Logo.jpg" alt=""/>
                                   </div>
                                 </div>
                             </div>
                         </div>
                         <div class="swiper-pagination"></div>-->
                    </div>

                </div>
        </div>
            </div>
        </div>

<!-- The Modal -->
<div class="modal" id="award-1">
    <div class="modal-dialog modal-lg model-mobile">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header bg-primary">
                <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <img src="~/img/awards/national-award-winner-for-successful-commercialization.jpg" alt="" />                      
                    </div>
                   

                </div>
             
            </div>
            <!-- Modal footer -->


        </div>
    </div>
</div>

                <!-- The Modal -->
<div class="modal" id="award-2">
    <div class="modal-dialog modal-lg model-mobile">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header bg-primary">
                <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <img src="~/img/awards/FAPCCIAwardforindustrial.jpg" alt="" />
                    </div>


                </div>

            </div>
            <!-- Modal footer -->


        </div>
    </div>
</div>
<div class="modal" id="award-3">
    <div class="modal-dialog modal-lg model-mobile">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header bg-primary">
                <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <img src="~/img/awards/National-Award-For-Indigenization.jpg" alt="" />
                    </div>


                </div>

            </div>
            <!-- Modal footer -->


        </div>
    </div>
</div>