@page
@model RES.Web.Pages.investors_forumModel
@{
    ViewData["Title"] = "Investors Forum";
}
@section Seo{
    <title>Customizing Battery Solutions with the Power of Innovation  | Thermal batteries </title>
    <meta name="description" content="India’s first Thermal battery manufacturer. Powering defence since 1985 with heat and liquid reserve batteries.">
    <meta name="keywords" content="">
    <meta name="author" content="Renewable Energy Systems Ltd">
    <meta name="robots" content="Index, Follow">
    <meta name="googlebot" content="index,follow" />
    <meta name="allow search" content="index,follow" />
    <meta name="revisit-after" content="daily" />
    <meta name="distribution" content="global" />
    <meta name="language" content="English" />
    <meta name="geo.region" content="India" />
    <meta name="geo.placename" content="India" />
    <meta property="og:title" content="Customizing Battery Solutions with the Power of Innovation  | Thermal batteries " />
    <meta property="og:site_name" content="Renewable Energy Systems Ltd." />
    <meta property="og:description" content="India’s first Thermal battery manufacturer. Powering defence since 1985 with heat and liquid reserve batteries." />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="Website" />
}

<!-- Header Banner-->
<div id="header-banner" class="clearfix" style="background: #333;">
  
     <div id="header-banner-inner" class="container clearfix">

        <div class="header-banner-inner-wrap header-padding">
    <div class="blog-standar-start">
                <h1 class="blog-standar-start1"><span class="heading-top" style="background: none;">Investors Forum</span></h1>
    </div>

    </div>

    </div>

    <!-- /#header-banner-inner -->

</div>
<!-- End Header Banner -->
<!-- OUR CREATIVE TEAM -->
<div class="row-our-team">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="themesflat-spacer clearfix" data-desktop="60" data-mobile="30" data-smobile="30"></div>
            </div><!-- /.col-md-12 -->
        </div>

        <div class="row justify-content-center">
            <div class="col-md-8 col-12">
                <div class="hentry">
                    <div class="post-content-wrap">
                      <ul>
                           
                            <li style="text-decoration:underline" class="mb-5"><a href="~/img/pdf/res-annual-return-31-3-23.pdf" class="display-6 text-primary" target="_blank">RES ANNUAL RETURN 31-3-23</a></li>
                            <li style="text-decoration:underline" class="mb-5"><a href="~/img/pdf/RES-FINAL-ANNUAL-REPORT-FY-22-23.pdf" class="display-6 text-primary" target="_blank">RES FINAL ANNUAL REPORT FY 22-23</a></li>
                            <li style="text-decoration:underline" class="mb-5"><a href="~/img/pdf/Renewable-FE-Hyd-09-09-2023.pdf" class="display-6 text-primary" target="_blank">Renewable FE Hyderabad 09-09-2023</a></li>
                            <li style="text-decoration:underline" class="mb-5"><a href="~/img/pdf/Renewable-Nava-Tel-Hyd-09-09-2023.pdf" class="display-6 text-primary" target="_blank">Renewable Nava Tel Hyderabad 09-09-2023</a></li>

                          


              </ul>    
                    </div>
                    
                </div>
            
                <div class="themesflat-spacer clearfix" data-desktop="55" data-mobile="35" data-smobile="35"></div>
            </div>
        </div>


       
      
        <div class="col-md-12">
            <div class="themesflat-spacer clearfix" data-desktop="122" data-mobile="60" data-smobile="60"></div>
        </div>
    </div><!-- /.container -->
</div>
<!-- END OUR CREATIVE TEAM -->