@page
@model IndexModel
@{
    ViewData["Title"] = "our team";
}
@section Seo{

}

<!-- Header Banner-->
<div id="header-banner" class="header-banner clearfix" style="background-image: url('../img/page-banner/ourteam-banner.jpg');">
    <div id="header-banner-inner" class="container clearfix">
        <div class="header-banner-inner-wrap">
            <div class="blog-standar-start">
                <h1 class="blog-standar-start1">Our Team</h1>
            </div>

        </div><!-- /.header-banner-inner-wrap -->
    </div><!-- /#header-banner-inner -->

</div>
<!-- End Header Banner -->
<!-- OUR CREATIVE TEAM -->
<div class="row-our-team">
    <div class="container">
        <div class="row row-our-team-inner">
            <div class="col-md-12">
                <div class="themesflat-spacer clearfix" data-desktop="100" data-mobile="60" data-smobile="60"></div>
                <div class="themesflat-headings our-team style-2 text-center wow fadeInUp clearfix">
                    <span class="heading-shadown-text style-3">OurTeam</span>
                    <p class="sub-heading medium-font">RES offers a wide range of thermal and lithium batteries for various defence and naval applications. Some of our products are:</p>

                </div>
                <div class="themesflat-spacer clearfix" data-desktop="64" data-mobile="35" data-smobile="35"></div>
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
        <div class="card mb-12">
            <div class="card-header">
                <h3>Top Management</h3>
            </div>
            <div class="card-body p-5">
                <div class="row mt-5">

                    <div class="col-lg-3 col-md-6 ">
                        <div class="box-team wow fadeInUp">
                            <div class="img-overlay"> </div>
                            <img src="~/img/management/founder-image.jpg" alt="Image">
                            <div class="box">
                                <h3 class="team-tittle"><a href="" data-toggle="modal" data-target="#THVPrasadaRao">Dr. THV Prasada Rao (Late)</a> </h3>
                                <span>FOUNDER</span>
                                <div class="icon-social-team text-center">
                                    <a href="#"><i class="fa fa-linkedin"></i></a>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 ">
                        <div class="box-team wow fadeInUp">
                            <div class="img-overlay"> </div>
                            <img src="~/img/management/Anjan.jpg" alt="Image">
                            <div class="box">
                                <h3 class="team-tittle"><a href="" data-toggle="modal" data-target="#AnjaneyuluTurlapati">Anjaneyulu<br> Turlapati</a> </h3>
                                <span>Management</span>
                                <div class="icon-social-team text-center">
                                    <a href="#"><i class="fa fa-linkedin"></i></a>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-3 col-md-6 ">
                        <div class="box-team wow fadeInUp">
                            <div class="img-overlay"> </div>
                            <img src="~/img/management/Suri.jpg" alt="Image">
                            <div class="box">
                                <h3 class="team-tittle"><a href="" data-toggle="modal" data-target="#SuriPenubolu">Suri <br>Penubolu</a> </h3>
                                <span>Marketing Professional </span>
                                <div class="icon-social-team">
                                    <a href="#"><i class="fa fa-linkedin"></i></a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 ">
                        <div class="box-team wow fadeInDown">
                            <div class="img-overlay"> </div>
                            <img src="~/img/management/Sudha.jpg" alt="Image">
                            <div class="box">
                                <h3 class="team-tittle"><a href="" data-toggle="modal" data-target="#SudharaniPotluri">Sudharani<br> Potluri</a> </h3>
                                <span>Management</span>
                                <div class="icon-social-team">
                                    <a href="#"><i class="fa fa-linkedin"></i></a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 ">
                        <div class="box-team wow fadeInUp">
                            <div class="img-overlay"> </div>
                            <img src="~/img/management/MB-PRASAD.jpg" alt="Image">
                            <div class="box">
                                <h3 class="team-tittle"><a href="" data-toggle="modal" data-target="#MB-PRASAD">M. Bhushan <br>Prasad</a> </h3>
                                <span>Business Head </span>
                                <div class="icon-social-team">
                                    <a href="#"><i class="fa fa-linkedin"></i></a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 ">
                        <div class="box-team wow fadeInDown">
                            <div class="img-overlay"> </div>
                            <img src="~/img/management/profile.jpg" alt="Image">
                            <div class="box">
                                <h3 class="team-tittle"><a href="" data-toggle="modal" data-target="#DheerajRajGhai">Dheeraj Raj <br>Ghai</a> </h3>
                                <span>Management</span>
                                <div class="icon-social-team">
                                    <a href="#"><i class="fa fa-linkedin"></i></a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 ">
                        <div class="box-team wow fadeInUp">
                            <div class="img-overlay"> </div>
                            <img src="~/img/management/profile.jpg" alt="Image">
                            <div class="box">
                                <h3 class="team-tittle"><a href="" data-toggle="modal" data-target="#SKrishnaKumar">Dr. S Krishna <br>Kumar</a> </h3>
                                <span>Management</span>
                                <div class="icon-social-team">
                                    <a href="#"><i class="fa fa-linkedin"></i></a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 ">
                        <div class="box-team wow fadeInDown">
                            <div class="img-overlay"> </div>
                            <img src="~/img/management/profile.jpg" alt="Image">
                            <div class="box">
                                <h3 class="team-tittle"><a href="" data-toggle="modal" data-target="#ThippaniThirupathi">Dr. Thippani<br> Thirupathi </a> </h3>
                                <span>Management</span>
                                <div class="icon-social-team">
                                    <a href="#"><i class="fa fa-linkedin"></i></a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div><!-- /.container -->
</div>
<!-- END OUR CREATIVE TEAM -->
<!-- The Modal -->
<div class="modal" id="THVPrasadaRao">
    <div class="modal-dialog modal-lg model-mobile">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header bg-primary">
                <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3">
                        <img src="~/img/management/founder-image.jpg" alt="" />
                    </div>
                    <div class="col-lg-9">
                        <h3>Dr. THV Prasada Rao (Late)</h3>
                        <p>
                            Dr. THV Prasada Rao, an esteemed first-generation technocrat and entrepreneur, was a visionary leader who founded Renewable Energy Systems Ltd (RES) to pursue his passion for technology. As the inaugural CEO of RES, which was established in 1985, he focused on developing specialised silver-zinc batteries to start MIG Aircraft.
                        </p>


                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p>
                            Dr. THV Prasada Rao's academic journey began with graduation in Mathematics and Physics, followed by a major in Mechanical Engineering from BITS Pilani, Rajasthan. He further pursued a PhD in Mechanical Engineering from JNTU, Hyderabad, demonstrating his commitment to knowledge and expertise. His academic accomplishments and relentless pursuit of excellence established him as a respected authority in his field.
                        </p>
                        <p>
                            Before his entrepreneurial endeavours, Dr. THV Prasada Rao held the esteemed Head of the Department (HOD) position at MCEME in Secunderabad. This role not only highlighted his leadership capabilities but also showcased his dedication to fostering innovation and driving progress within the realm of mechanical engineering.
                        </p>
                        <p>
                            Throughout his illustrious career, Dr. THV Prasada Rao's indomitable spirit, profound knowledge, and visionary approach left an indelible mark on the renewable energy industry. His exceptional leadership and unwavering commitment to technological advancements have shaped the trajectory of RES and inspired countless individuals in the field.
                        </p>
                        <p>
                            Though we deeply mourn his loss, Dr THV Prasada Rao's legacy lives on as a beacon of inspiration, guiding our endeavours as we continue to revolutionise the renewable energy landscape. His passion, expertise, and entrepreneurial spirit continue to drive our commitment to innovation, excellence, and sustainability.
                        </p>

                    </div>
                </div>
            </div>
            <!-- Modal footer -->


        </div>
    </div>
</div>
<!-- The Modal -->
<div class="modal" id="AnjaneyuluTurlapati">
    <div class="modal-dialog modal-lg model-mobile">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header bg-primary">
                <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3">
                        <img src="~/img/management/Anjan.jpg" alt="" />
                    </div>
                    <div class="col-lg-9">
                        <h3>Anjaneyulu Turlapati</h3>
                        <p>
                            Anjaneyulu Turlapati is a highly accomplished professional with a wealth of experience in the battery industry. Graduating from BITS-Pilani, India, he embarked on a remarkable career that spans over 35 years, encompassing various aspects of the thermal battery and electro-chemistry domain, including nickel-cadmium, silver zinc, and lithium electro-chemistries, as well as solar photovoltaics.
                        </p>


                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p>
                            Throughout his extensive career, Anjaneyulu Turlapati has held key management positions that have honed his expertise and contributed to his exceptional track record. He has excelled in areas such as thermal battery production, engineering, research and development, and business strategy. His comprehensive understanding of the battery industry and his strategic acumen have propelled him to success and garnered him a reputation as a seasoned professional in the field.
                        </p>
                        <p>
                            Anjaneyulu Turlapati's contributions extend beyond his corporate endeavours. He has served as a valued member of the Advisory Council for Tata's Energy Research Institute (TERI) in India, where his insights and expertise have played a crucial role in shaping the institute's energy research initiatives. Furthermore, he is recognised as a respected authority in the solar photovoltaic industry, frequently invited to speak at industry forums and academic institutions worldwide. His willingness to share knowledge and engage with others underscores his commitment to advancing the field and fostering collaboration within the industry.
                        </p>
                        <p>
                            With his vast experience, technical expertise, and strategic vision, Anjaneyulu Turlapati brings invaluable insights and leadership to our organisation. His contributions will undoubtedly contribute to our brand's continued growth and success in the battery industry.
                        </p>

                    </div>
                </div>
            </div>
            <!-- Modal footer -->


        </div>
    </div>
</div>
<!-- The Modal -->
<div class="modal" id="SuriPenubolu">
    <div class="modal-dialog modal-lg model-mobile">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header bg-primary">
                <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3">
                        <img src="~/img/management/Suri.jpg" alt="" />
                    </div>
                    <div class="col-lg-9">
                        <h3>Suri Penubolu</h3>
                        <p>
                            Suri Penubolu is a seasoned marketing professional passionate about thermal battery products. He holds an Engineering Degree in Mechanical Engineering from Osmania University, India. He has over 30 years of experience in marketing thermal battery products for various applications, especially in the defence sector. He has been instrumental in establishing RES’s customer portfolio and positioning RES as a defence-approved vendor. He has a proven track record of delivering results and exceeding expectations. He is a valued member of the RES team and a trusted partner for the clients.
                        </p>


                    </div>

                </div>

            </div>
            <!-- Modal footer -->


        </div>
    </div>
</div>
<!-- The Modal -->
<div class="modal" id="SudharaniPotluri">
    <div class="modal-dialog modal-lg model-mobile">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header bg-primary">
                <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3">
                        <img src="~/img/management/Sudha.jpg" alt="" />
                    </div>
                    <div class="col-lg-9">
                        <h3>Sudharani Potluri</h3>
                        <p>
                            Sudharani Potluri is a visionary leader with a background in Electronics. She entered into the renewable energy field in the early 1980s and has been a driving force behind RES’s success as an effective, low-cost manufacturer. She has extensive experience in procurement, production planning, human resource management, general operations and administration. She is responsible for resource management and establishing systems for optimal resource utilisation. She has a knack for finding innovative solutions and improving efficiency. She is a respected member of the RES team and a role model for the employees.
                        </p>


                    </div>

                </div>

            </div>
            <!-- Modal footer -->


        </div>
    </div>
</div>
<!-- The Modal -->
<div class="modal" id="MB-PRASAD">
    <div class="modal-dialog modal-lg model-mobile">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header bg-primary">
                <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3">
                        <img src="~/img/management/MB-PRASAD.jpg" alt="" />
                    </div>
                    <div class="col-lg-9">
                        <h3>M. Bhushan Prasad</h3>
                        <p>
                            M. Bhushan Prasad is the business head of RES, looking after the R&D opportunities of the business. He is a mechanical engineer with over 20 years of experience in development activities from the Manipal Institute of Technology, Manipal. He plays a vital role in growing RES through his relentless commitment and network in DRDO, NSTL, ARDE, RCI & BDL. He is an expert in thermal battery technology and has led several projects for various defence applications. He is a dynamic leader and a strategic thinker who drives innovation and excellence at RES. He is a valued member of the RES team and a trusted partner for the clients.
                        </p>


                    </div>

                </div>

            </div>
            <!-- Modal footer -->


        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal" id="DheerajRajGhai">
    <div class="modal-dialog modal-lg model-mobile">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header bg-primary">
                <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3">
                        <img src="~/img/management/profile.jpg" alt="" />
                    </div>
                    <div class="col-lg-9">
                        <h3>Wing Commander Dheeraj Raj Ghai (Veteran)</h3>
                        <p>
                            Wing Commander Dheeraj Raj Ghai is an Indian Air Force veteran with a distinguished career in the defence sector. He holds a Degree in BE Electronics from Nagpur University, a Master’s Degree in Software Systems from BITS Pilani, a Management degree from IIM Lucknow, and a Six Sigma certification from Indian Statistical Institute. He has vast experience in various managerial positions in Mirage 2000 and MiG 21 fleets.
                        </p>


                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p>
                            He has extensive experience in Supply Chain Management, Contracts, Production Planning, Human Resource Management, general operations and administration. Prior to joining RES, he was working in the SCM department of IndiGo Airlines. He is a strategic and visionary leader who brings a wealth of knowledge and expertise to RES. He is a leader and a mentor who drives performance and excellence at RES. He is a valued member of the RES team and a trusted partner for the clients.
                        </p>


                    </div>
                </div>
            </div>
            <!-- Modal footer -->


        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal" id="SKrishnaKumar">
    <div class="modal-dialog modal-lg model-mobile">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header bg-primary">
                <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3">
                        <img src="~/img/management/profile.jpg" alt="" />
                    </div>
                    <div class="col-lg-9">
                        <h3>Dr. S Krishna Kumar</h3>
                        <p>
                            Dr. S Krishna Kumar is a distinguished Li-ion battery material and electrochemistry expert. He has a PhD in Li-ion battery materials from IIT Hyderabad, where he worked on developing LMR-NMC-based cathodes and Si-based anodes for high-energy-density lithium-ion batteries under the supervision of Dr. Surendra Kumar Martha. He has a wide range of expertise and technical skills in physical chemistry, especially materials science, energy storage materials, and electrochemistry.
                        </p>


                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p>
                            Dr. S Krishna Kumar has extensive experience in electrochemical engineering, particularly in lithium and sodium-ion batteries. He is skilled in materials synthesis, electrode preparation, battery assembly, and product development. He also has strong skills in surface chemistry characterisation and electrochemical characterisation of various battery systems. He has a deep understanding of battery ageing and performance degradation mechanisms. He can also monitor the state of charge and the health of various battery systems.
                        </p>
                        <p>
                            Dr. S Krishna Kumar is a passionate and innovative researcher striving to deliver cutting-edge energy sector solutions. He is a leader and a team player who drives innovation and excellence at RES. He is a valued member of the RES team and a trusted partner for the clients.
                        </p>

                    </div>
                </div>
            </div>
            <!-- Modal footer -->


        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal" id="ThippaniThirupathi">
    <div class="modal-dialog modal-lg model-mobile">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header bg-primary">
                <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3">
                        <img src="~/img/management/profile.jpg" alt="" />
                    </div>
                    <div class="col-lg-9">
                        <h3>Dr. Thippani Thirupathi </h3>
                        <p>
                            Dr. Thippani Thirupathi is a renowned expert in electrochemistry and energy storage materials. He holds a Ph.D. in Chemistry from IIT Hyderabad, where he worked on developing non-precious cathode materials for rechargeable zinc-air batteries and carbon-supported C3N4 for hydrazine sensors. He has a wide range of expertise and technical skills in electrochemical engineering, materials synthesis, electrode preparation, battery assembly, and product development.
                        </p>


                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p>
                            He also has strong skills in surface chemistry characterisation and electrochemical characterisation of various battery systems. He has a deep understanding of battery ageing and performance degradation mechanisms.
                        </p>
                        <p>
                            Dr. Thippani Thirupathi is currently working on developing long-life thermal batteries for defence applications. He is passionate about advancing battery technology and delivering cutting-edge solutions for the energy sector. He is a leader and a mentor who drives innovation and excellence at RES. He is a valued member of the RES team and a trusted partner for the clients.
                        </p>

                    </div>
                </div>
            </div>
            <!-- Modal footer -->


        </div>
    </div>
</div>