@page
@model IndexModel
@{
    ViewData["Title"] = "our team";
   
}
@section Seo{
    <title>Customizing Battery Solutions with the Power of Innovation  | Thermal batteries </title>
    <meta name="description" content="India’s first Thermal battery manufacturer. Powering defence since 1985 with heat and liquid reserve batteries.">
    <meta name="keywords" content="">
    <meta name="author" content="Renewable Energy Systems Ltd">
    <meta name="robots" content="Index, Follow">
    <meta name="googlebot" content="index,follow" />
    <meta name="allow search" content="index,follow" />
    <meta name="revisit-after" content="daily" />
    <meta name="distribution" content="global" />
    <meta name="language" content="English" />
    <meta name="geo.region" content="India" />
    <meta name="geo.placename" content="India" />
    <meta property="og:title" content="Customizing Battery Solutions with the Power of Innovation  | Thermal batteries " />
    <meta property="og:site_name" content="Renewable Energy Systems Ltd." />
    <meta property="og:description" content="India’s first Thermal battery manufacturer. Powering defence since 1985 with heat and liquid reserve batteries." />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="Website" />
}

<!-- Header Banner-->
<div id="" class="header-banner clearfix">
    <img class="img-fluid" src="~/img/page-banner/ourteam-banner.jpg" alt="" />
    @* <div id="header-banner-inner" class="container clearfix">
    <div class="header-banner-inner-wrap">
    <div class="blog-standar-start">
    <h1 class="blog-standar-start1"><span class="heading-top">Our History</span></h1>
    </div>

    </div>
    </div>*@
    <!-- /#header-banner-inner -->

</div>
<!-- End Header Banner -->
<!-- OUR CREATIVE TEAM -->
<div class="row-our-team">
    <div class="container">
        <div class="row row-our-team-inner">
            <div class="col-md-12">
                <div class="themesflat-spacer clearfix" data-desktop="60" data-mobile="60" data-smobile="60"></div>
                <div class="themesflat-headings our-team style-2 text-center wow fadeInUp clearfix">
                    
                    <p class="sub-heading medium-font">At RESL, our success and innovation are driven by a team of highly qualified and experienced professionals who are passionate about excellence and advancement. Among our key management members are:</p>

                </div>
                <div class="themesflat-spacer clearfix" data-desktop="64" data-mobile="35" data-smobile="35"></div>
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
        <div class="card mb-12">
            <div class="card-header">
                <h3>Top Management</h3>
            </div>
            <div class="card-body p-5 p-0-mobile">
                <div class="row mt-5">

                    <div class="col-lg-4 col-md-6 ">
                        <div class="box-team wow fadeInUp">
                           
                            <a href="" data-toggle="modal" data-target="#THVPrasadaRao">
                                <img src="~/img/management/founder-image.jpg" alt="Image">
                                </a>
                            <div class="box">
                                <h3 class="team-tittle"><a class="text-primary" href="" data-toggle="modal" data-target="#THVPrasadaRao">Dr. THV Prasada Rao (Late) </a> </h3>
                                <span>Founder of RESL</span>
                                <div class="icon-social-team text-center">
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                    <p> Dr. THV Prasada Rao, a visionary first-generation technocrat and entrepreneur, founded Renewable Energy Systems Ltd (RESL) in 1985. As the inaugural CEO, he focused on specialised silver-zinc batteries for MIG Aircraft.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 ">
                        <div class="box-team wow fadeInUp">
                            
                            <a href="" data-toggle="modal" data-target="#AnjaneyuluTurlapati">
                                <img src="~/img/management/Anjan.jpg" alt="Image">
                                </a>
                            <div class="box">
                                <h3 class="team-tittle"><a class="text-primary" href="" data-toggle="modal" data-target="#AnjaneyuluTurlapati">Anjaneyulu Turlapati</a> </h3>
                                <span>Technical Advisor</span>
                                <div class="icon-social-team text-center">
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                    <p class="pb-1">
                                        Anjaneyulu Turlapati is a highly accomplished Technical Advisor with over 35 years of experience in the battery industry. He has made significant contributions in the domain of thermal battery and electro-chemistry, specialising in nickel-cadmium, silver zinc, lithium electro-chemistries, and solar photovoltaics.
                                    <br />
                                    <a class="text-primary" href="" data-toggle="modal" data-target="#AnjaneyuluTurlapati"> Read more...</a>
                                    </p>

                                    
                                        
                                   
                                    
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6 ">
                        <div class="box-team wow fadeInUp">
                           
                            <a href="" data-toggle="modal" data-target="#SuriPenubolu">
                            <img src="~/img/management/Suri.jpg" alt="Image">
                            </a>
                            <div class="box">
                                <h3 class="team-tittle"><a class="text-primary" href="" data-toggle="modal" data-target="#SuriPenubolu">Suri Penubolu</a> </h3>
                                <span>Business Development Advisor</span>
                                <div class="icon-social-team">
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                    <p class="pb-1">
                                        Suri Penubolu is a seasoned marketing professional with a strong passion for thermal battery products. With over 30 years of experience in marketing these products, particularly in the defence sector, he has played a key role in establishing RESL as a defence-approved vendor. 
                                   <br />
                                        <a class="text-primary" href="" data-toggle="modal" data-target="#SuriPenubolu">Read more...</a>
                                    </p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 ">
                        <div class="box-team wow fadeInDown">
                           
                            <a href="" data-toggle="modal" data-target="#SudharaniPotluri">
                            <img src="~/img/management/Sudha.jpg" alt="Image">
                            </a>
                            <div class="box">
                                <h3 class="team-tittle"><a class="text-primary" href="" data-toggle="modal" data-target="#SudharaniPotluri">Sudharani Potluri</a> </h3>
                                <span>Operations Advisor</span>
                                <div class="icon-social-team">
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                     <p>
                           Sudharani Potluri is a visionary leader with a background in Electronics. She entered the renewable energy field in the and has been a driving force behind RESL’s success as an effective, low-cost manufacturer. She has extensive experience in procurement, production planning, human resource management.
                        <br />
                                        <a class="text-primary" href="" data-toggle="modal" data-target="#SudharaniPotluri">Read more...</a>
                       </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 ">
                        <div class="box-team wow fadeInUp">
                           
                            <a href="" data-toggle="modal" data-target="#MB-PRASAD">
                                <img src="~/img/management/MB-PRASAD.jpg" alt="Image">
                                </a>
                            <div class="box">
                                <h3 class="team-tittle"><a class="text-primary" href="" data-toggle="modal" data-target="#MB-PRASAD">Bhushana Prasad Mukkamala</a> </h3>
                                <span>Director and Vice President of Design and Development</span>
                                <div class="icon-social-team">
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                    <p>
                                        With over 20 years of extensive experience in mechanical engineering, Bhushana Prasad leads RESL's R&D opportunities. His expertise in thermal battery technology drives RESL's growth, especially in the defence sector. He plays a vital role in establishing strategic partnerships through his strong network.
                                       <br />
                                        <a class="text-primary" href="" data-toggle="modal" data-target="#MB-PRASAD">Read more...</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 ">
                        <div class="box-team wow fadeInDown">
                           
                            <a href="" data-toggle="modal" data-target="#DheerajRajGhai">
                            <img src="~/img/management/profile.jpg" alt="Image">
                            </a>
                            <div class="box">
                                <h3 class="team-tittle"><a class="text-primary" href="" data-toggle="modal" data-target="#DheerajRajGhai">Wing Commander Dheeraj Raj Ghai (Veteran) </a> </h3>
                                <span>Chief Operating Officer</span>
                                <div class="icon-social-team">
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                    <p>
                                        Wing Commander Dheeraj Raj Ghai, an Indian Air Force veteran, brings a distinguished career in the defence sector with diverse qualifications. His experience in various managerial positions, including Supply Chain Management, Contracts, and Human Resource Management, empowers RESL with performance-driven excellence.
                                        <br />
                                        <a class="text-primary" href="" data-toggle="modal" data-target="#DheerajRajGhai">Read more...</a>
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                 
                </div>
            </div>
        </div>


    </div><!-- /.container -->
</div>
<!-- END OUR CREATIVE TEAM -->
<!-- The Modal -->
<div class="modal" id="THVPrasadaRao">
    <div class="modal-dialog modal-lg model-mobile">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header bg-primary">
                <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3">
                        <img src="~/img/management/founder-image.jpg" alt="" />
                    </div>
                    <div class="col-lg-9">
                        <h3>Dr. THV Prasada Rao (Late)</h3>
                        <p><strong>Founder of RESL</strong></p>
                        <p>
                            Dr. THV Prasada Rao, a visionary first-generation technocrat and entrepreneur, founded Renewable Energy Systems Ltd (RESL) in 1985. As the inaugural CEO, he focused on specialised silver-zinc batteries for MIG Aircraft.</p>


                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p>
                       Academically, Dr. THV Prasada Rao graduated in Mathematics and Physics, followed by a major in Mechanical Engineering from BITS Pilani, Rajasthan. He later earned a PhD in Mechanical Engineering from JNTU, Hyderabad.
                        </p>
                        <p>
                            His exceptional leadership continues to inspire RESL and countless individuals in the field. His legacy guides our commitment to innovation, excellence, and sustainability.
                        </p>
                       

                    </div>
                </div>
            </div>
            <!-- Modal footer -->


        </div>
    </div>
</div>
<!-- The Modal -->
<div class="modal" id="AnjaneyuluTurlapati">
    <div class="modal-dialog modal-lg model-mobile">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header bg-primary">
                <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3">
                        <img src="~/img/management/Anjan.jpg" alt="" />
                    </div>
                    <div class="col-lg-9">
                        <h3>Anjaneyulu Turlapati</h3>
                        <p><strong>TECHNICAL ADVISOR</strong></p>
                        <p>
                            Anjaneyulu Turlapati is a highly accomplished Technical Advisor with over 35 years of experience in the battery industry. He has made significant contributions in the domain of thermal battery and electro-chemistry, specialising in nickel-cadmium, silver zinc, lithium electro-chemistries, and solar photovoltaics. Throughout his career, he has excelled in thermal battery production, engineering, research, and business strategy.
                        </p>


                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p>
                            Anjaneyulu's reputation as a seasoned professional in the field is well-earned. He is also a valued member of Tata's Energy Research Institute's Advisory Council in India, where his insights have played a crucial role in shaping the institute's energy research initiatives.
                        </p>
                        <p>
                            Furthermore, he is a respected authority in the solar photovoltaic industry, frequently invited to speak at industry forums and academic institutions worldwide. With his vast experience and strategic vision, Anjaneyulu Turlapati brings invaluable insights and leadership to our organization, ensuring our brand's continued growth and success in the battery industry.
                        </p>
                       
                    </div>
                </div>
            </div>
            <!-- Modal footer -->


        </div>
    </div>
</div>
<!-- The Modal -->
<div class="modal" id="SuriPenubolu">
    <div class="modal-dialog modal-lg model-mobile">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header bg-primary">
                <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3">
                        <img src="~/img/management/Suri.jpg" alt="" />
                    </div>
                    <div class="col-lg-9">
                        <h3>Suri Penubolu</h3>
                        <p><strong>Business Development Advisor</strong></p>
                        <p>
                            Suri Penubolu is a seasoned marketing professional with a strong passion for thermal battery products. With over 30 years of experience in marketing these products, particularly in the defence sector, he has played a key role in establishing RESL as a defence-approved vendor. Holding an Engineering Degree in Mechanical Engineering from Osmania University, India, Suri has a proven track record of delivering exceptional results and exceeding expectations. He is a valued member of the RESL team and a trusted partner for clients.
                        </p>


                    </div>

                </div>

            </div>
            <!-- Modal footer -->


        </div>
    </div>
</div>
<!-- The Modal -->
<div class="modal" id="SudharaniPotluri">
    <div class="modal-dialog modal-lg model-mobile">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header bg-primary">
                <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3">
                        <img src="~/img/management/Sudha.jpg" alt="" />
                    </div>
                    <div class="col-lg-9">
                        <h3>Sudharani Potluri</h3>
                        <p><strong>Operations Advisor</strong></p>
                        <p>
                           Sudharani Potluri is a visionary leader with a background in Electronics. She entered the renewable energy field in the and has been a driving force behind RESL’s success as an effective, low-cost manufacturer. She has extensive experience in procurement, production planning, human resource management, general operations, and administration. She is responsible for resource management and establishing systems for optimal resource utilisation. She has a knack for finding innovative solutions and improving efficiency. She is a respected member of the RESL team and a role model for the employees.
                        </p>


                    </div>

                </div>

            </div>
            <!-- Modal footer -->


        </div>
    </div>
</div>
<!-- The Modal -->
<div class="modal" id="MB-PRASAD">
    <div class="modal-dialog modal-lg model-mobile">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header bg-primary">
                <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3">
                        <img src="~/img/management/MB-PRASAD.jpg" alt="" />
                    </div>
                    <div class="col-lg-9">
                        <h3>Bhushana Prasad Mukkamala </h3>
                        <p><strong>Director and Vice President of Design and Development</strong></p>
                        <p>
                            With over 20 years of extensive experience in mechanical engineering, Bhushana Prasad leads RESL's R&D opportunities. His expertise in thermal battery technology drives RESL's growth, especially in the defence sector. He plays a vital role in establishing strategic partnerships through his strong network. As a dynamic and strategic thinker, he is highly valued within the team and trusted by clients.
                        </p>


                    </div>

                </div>

            </div>
            <!-- Modal footer -->


        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal" id="DheerajRajGhai">
    <div class="modal-dialog modal-lg model-mobile">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header bg-primary">
                <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3">
                        <img src="~/img/management/profile.jpg" alt="" />
                    </div>
                    <div class="col-lg-9">
                        <h3>Wing Commander Dheeraj Raj Ghai (Veteran)</h3>
                        <p><strong>Chief Operating Officer</strong></p>
                        <p>
                            Wing Commander Dheeraj Raj Ghai, an Indian Air Force veteran, brings a distinguished career in the defence sector with diverse qualifications. His experience in various managerial positions, including Supply Chain Management, Contracts, and Human Resource Management, empowers RESL with performance-driven excellence. He is a respected leader within the team and a trusted partner for clients.
                            </p>

                    </div>

                </div>
               
            </div>
            <!-- Modal footer -->


        </div>
    </div>
</div>

