@page
@model IndexModel
@{
    ViewData["Title"] = "products";
    var imgStyle = "../../../../img/page-banner/products.jpg";
}
@section Seo{

}

<!-- Header Banner-->
<div id="header-banner" class="header-banner clearfix" style="background-image: url(@imgStyle);">
    <div id="header-banner-inner" class="container clearfix">
        <div class="header-banner-inner-wrap">
            <div class="blog-standar-start">
                <h1 class="blog-standar-start1">Products</h1>
            </div>

        </div><!-- /.header-banner-inner-wrap -->
    </div><!-- /#header-banner-inner -->

</div>
<!-- End Header Banner -->
<!-- OUR CREATIVE TEAM -->
<div class="row-our-team">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="themesflat-spacer clearfix" data-desktop="60" data-mobile="60" data-smobile="60"></div>
            </div><!-- /.col-md-12 -->
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="themesflat-headings our-team style-2 text-center wow fadeInUp clearfix">
                    <span class="heading-shadown-text style-3">Products</span>
                    <p class="sub-heading medium-font">RES is led by a team of highly qualified and experienced professionals who have a passion for excellence and innovation. Some of our key management employees are:</p>

                </div>
                <div class="themesflat-spacer clearfix" data-desktop="55" data-mobile="35" data-smobile="35"></div>
            </div>
        </div>

        <div class="card mb-5">
            <div class="card-body p-4">
                <div class="row">
                    <div class="col-lg-3">
                        <img src="~/img/products/1.jpg" class="img-thumbnail" alt="" />
                    </div>
                    <div class="col-lg-9">
                        <strong>Thermal batteries:</strong> These primary batteries use molten salt as an electrolyte and operate at high temperatures. They are activated by heating them up to their operating temperature using an external source such as an electric heater or a pyrotechnic device. They have high power density, long shelf life, fast activation time and low self-discharge rate. They are ideal for applications that require short bursts of high power, such as missiles, rockets, torpedoes etc.
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-5">
            <div class="card-body p-4">
                <div class="row">

                    <div class="col-lg-9">
                        <strong>Lithium batteries</strong> are primary batteries that use lithium metal or lithium compounds as anodes and various cathodes such as thionyl chloride, sulfur dioxide or manganese dioxide. They have a high energy density, low weight, long shelf life and wide operating temperature range. They are ideal for applications that require continuous low power, such as sonobuoys, decoys, mines etc.
                    </div>
                    <div class="col-lg-3">
                        <img src="~/img/products/1.jpg" class="img-thumbnail" alt="" />
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-5">
            <div class="card-body p-4">
                <div class="row">
                    <div class="col-lg-3">
                        <img src="~/img/products/1.jpg" class="img-thumbnail" alt="" />
                    </div>
                    <div class="col-lg-9">
                        <strong>Specialised Batteries:</strong> RES specialised batteries are designed for use in specific applications, such as medical devices, electric vehicles, and industrial equipment. RES-specialized batteries are known for their high performance, long life, and safety features.
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 pt-5">
            <h3>We can also customise our products according to the specific requirements of our customers.</h3>
        </div>
        <div class="col-md-12">
            <div class="themesflat-spacer clearfix" data-desktop="122" data-mobile="60" data-smobile="60"></div>
        </div>
        <!-- /.container -->
    </div>
    <!-- END OUR CREATIVE TEAM -->


</div>