@page
@model IndexModel
@{
    ViewData["Title"] = "research-and-development";
   
}
@section Seo{
    <title>Customizing Battery Solutions with the Power of Innovation  | Thermal batteries </title>
    <meta name="description" content="India’s first Thermal battery manufacturer. Powering defence since 1985 with heat and liquid reserve batteries.">
    <meta name="keywords" content="">
    <meta name="author" content="Renewable Energy Systems Ltd">
    <meta name="robots" content="Index, Follow">
    <meta name="googlebot" content="index,follow" />
    <meta name="allow search" content="index,follow" />
    <meta name="revisit-after" content="daily" />
    <meta name="distribution" content="global" />
    <meta name="language" content="English" />
    <meta name="geo.region" content="India" />
    <meta name="geo.placename" content="India" />
    <meta property="og:title" content="Customizing Battery Solutions with the Power of Innovation  | Thermal batteries " />
    <meta property="og:site_name" content="Renewable Energy Systems Ltd." />
    <meta property="og:description" content="India’s first Thermal battery manufacturer. Powering defence since 1985 with heat and liquid reserve batteries." />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="Website" />
}

<!-- Header Banner-->
<div id="header-banner" class="R-and-d-banner clearfix">
    <div id="header-banner-inner" class="container clearfix">
        <div class="header-banner-inner-wrap">
            <div class="blog-standar-start">
                <h1 class="blog-standar-start1"><span class="heading-top">Research And Development</span></h1>
            </div>

        </div><!-- /.header-banner-inner-wrap -->
    </div><!-- /#header-banner-inner -->

</div>
<!-- End Header Banner -->
<!-- ABOUT US -->
<div class="row-aubout-us">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <div class="themesflat-spacer clearfix" data-desktop="120" data-mobile="60" data-smobile="60"></div>
                <div class="themesflat-headings about-us style-2  clearfix">
                   
                    <p class="sub-heading wow fadeInDown">
                       RESL strongly focuses on research and development (R&D) to create and improve new products. Our R&D team comprises highly qualified and experienced scientists and engineers with a proven track record in dealing with various electrochemistry and battery technologies. Our R&D activities include:

                    </p>
                    <div class="row">
                        <div class="col-lg-12 hentry">

                            <div class="post-content-wrap clearfix pt-2">

                                <ul>
                                    <li>
                                        Developing new thermal and lithium battery systems for various applications
                                    </li>
                                    <li>
                                        Improving the performance, reliability, and safety of existing battery systems
                                    </li>
                                    <li>
                                        Exploring new materials, components, and processes for battery manufacturing </li>
                                    <li>
                                       Collaborating with academic institutions, research organisations, and industry partners for knowledge-sharing and innovation
                                    </li>

                                </ul>
                            </div>



                        </div>
                    </div>

                    <p class="sub-heading wow fadeInDown mt-5">
                      Our R&D team has successfully developed and commercialised several thermal and lithium battery systems for defence and naval applications, such as sonobuoys, decoys, mines, missiles, and many more.

                    </p>
                    <p class="sub-heading wow fadeInDown">
                        We have also filed several patents for our inventions and innovations. We are constantly working on new projects and challenges to meet the evolving needs of our customers.
                    </p>
                </div>

                
            </div>
            <div class="col-md-6">
                <div class="themesflat-spacer clearfix" data-desktop="164" data-mobile="30" data-smobile="30"></div>
                <img class="img-about-us" src="~/img/testing/battery-heat-generating-calorific-value-testing.jpg" alt="Image">
                <img class="img-about-us-1" src="~/img/shortcode/about-us/about-us-left-1.png" alt="Image">



                <div class="themesflat-spacer clearfix" data-desktop="121" data-mobile="60" data-smobile="60"></div>
            </div>

        </div>
    </div>
</div>
<!-- END ABOUT US -->