@page
@model IndexModel
@{
    ViewData["Title"] = "research-and-development";
   
}
@section Seo{

}

<!-- Header Banner-->
<div id="header-banner" class="header-banner clearfix R-and-d-banner">
    <div id="header-banner-inner" class="container clearfix">
        <div class="header-banner-inner-wrap">
            <div class="blog-standar-start">
                <h1 class="blog-standar-start1">R & D</h1>
            </div>

        </div><!-- /.header-banner-inner-wrap -->
    </div><!-- /#header-banner-inner -->

</div>
<!-- End Header Banner -->
<!-- ABOUT US -->
<div class="row-aubout-us">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <div class="themesflat-spacer clearfix" data-desktop="120" data-mobile="60" data-smobile="60"></div>
                <div class="themesflat-headings about-us style-2  clearfix">
                    <span class="heading-shadown-text style-2" style="top:10%">R&D</span>
                    <p class="sub-heading wow fadeInDown medium-font">
                        RES strongly focuses on research and development (R&D) to create and improve new products. Our R&D team comprises highly qualified and experienced scientists and engineers with a proven track record in dealing with various electro-chemistries and battery technologies. Our R&D activities include:

                    </p>
                    <div class="row">
                        <div class="col-lg-12 hentry">

                            <div class="post-content-wrap clearfix pt-2">

                                <ul>
                                    <li>
                                        Developing new thermal and lithium battery systems for various applications
                                    </li>
                                    <li>
                                        Improving the performance, reliability and safety of existing battery systems
                                    </li>
                                    <li>
                                        Exploring new materials, components and processes for battery manufacturing
                                    </li>
                                    <li>
                                        Collaborating with academic institutions, research organisations and industry partners for knowledge-sharing and innovation
                                    </li>

                                </ul>
                            </div>



                        </div>
                    </div>

                    <p class="sub-heading wow fadeInDown mt-5">
                        Our R&D team has successfully developed and commercialised several thermal and lithium battery systems for defence and naval applications such as sonobuoys, decoys, mines, missiles and many more. We have also filed several patents for our inventions and innovations. We are constantly working on new projects and challenges to meet the evolving needs of our customers.

                    </p>

                </div>

                <div class="themesflat-spacer clearfix" data-desktop="68" data-mobile="120" data-smobile="85"></div>
            </div>
            <div class="col-md-6">
                <div class="themesflat-spacer clearfix" data-desktop="164" data-mobile="60" data-smobile="60"></div>
                <img class="img-about-us" src="~/img/testing/battery-heat-generating-calorific-value-testing.jpg" alt="Image">
                <img class="img-about-us-1" src="~/img/shortcode/about-us/about-us-left-1.png" alt="Image">



                <div class="themesflat-spacer clearfix" data-desktop="121" data-mobile="60" data-smobile="60"></div>
            </div>

        </div>
    </div>
</div>
<!-- END ABOUT US -->