@page
@model IndexModel
@{
    ViewData["Title"] = "services";
}
@section Seo{

}
<!-- Header Banner-->
<div id="header-banner" class="header-banner clearfix" style="background-image: url('../img/page-banner/service-banner.jpg');">
                <div id="header-banner-inner" class="container clearfix">
                    <div class="header-banner-inner-wrap">                    
                        <div class="blog-standar-start">
                            <h1 class="blog-standar-start1">Services</h1>
                        </div>

                    </div><!-- /.header-banner-inner-wrap -->
                </div><!-- /#header-banner-inner -->  

            </div>
            <!-- End Header Banner --> 


              <!-- OUR CREATIVE TEAM -->
             <div class="row-our-team">
                <div class="container">
                       <div class="row">
                        <div class="col-md-12">
                            <div class="themesflat-spacer clearfix" data-desktop="60" data-mobile="60" data-smobile="60"></div>                       
                        </div><!-- /.col-md-12 -->
                    </div>

                     <div class="row">
                        <div class="col-md-12">
                            <div class="themesflat-headings our-team style-2 text-center wow fadeInUp clearfix">
                                <span class="heading-shadown-text style-3">Services</span>
                                <p class="sub-heading medium-font">RES provides a range of services to our customers, such as:</p>

                            </div>
                            <div class="themesflat-spacer clearfix" data-desktop="55" data-mobile="35" data-smobile="35"></div>
                            </div>
                          </div>

                     <div class="container">
                    <div class="row">
                        <div class="col-md-4 mb-5">
                            <div class="box-service wow fadeInDown mt-0">
                                <div class="service-inner-img">
                                    <div class="img-overlay img-overlay-services"></div>
                                    <img src="~/img/testing/03.jpg" alt="Image"> 
                                </div>
                                <div class="service-inner-text" style="min-height: 405px;">
                                    <div class="icon zingbox-icon-enegy"></div>
                                    <div class="text-wrap">
                                        <p class="heading">
                                        <strong>Battery testing:</strong> We have a well-equipped laboratory that conducts various tests on our batteries, such as performance, reliability, safety and environmental tests. We also provide third-party testing services for other battery manufacturers and users. </p>
                                        <div class="sep clearfix"></div>

                                  </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-5">
                            <div class="box-service wow fadeInUp  mt-0" >
                                <div class="service-inner-img">
                                    <div class="img-overlay img-overlay-services"></div>
                                    <img src="~/img/testing/02-Heat-and-Cold-Chamber.jpg" alt="Image">

                                </div>
                                <div class="service-inner-text" style="min-height: 405px;">
                                    <div class="icon zingbox-icon-enegy"></div>
                                    <div class="text-wrap">
                                        <p class="heading">
                                        <strong>Battery maintenance:</strong> We offer periodic inspection, cleaning and replacement of batteries to ensure their optimal performance and longevity. We also provide training and guidance to our customers on handling and storing batteries safely and efficiently.</p>
                                        <div class="sep clearfix"></div>

                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-5">
                            <div class="box-service wow fadeInDown mt-0" >
                                <div class="service-inner-img">
                                    <div class="img-overlay img-overlay-services"></div>
                                    <img src="~/img/testing/04.jpg" alt="Image"> 
                                </div>

                                <div class="service-inner-text" style="min-height: 405px;">
                                    <div class="icon zingbox-icon-enegy"></div>
                                    <div class="text-wrap">
                                        <p class="heading">
                                        <strong>Battery testing: </strong>We have a well-equipped laboratory that conducts various tests on our batteries, such as performance, reliability, safety and environmental tests. We also provide third-party testing services for other battery manufacturers and users. </p>
                                        <div class="sep clearfix"></div>                                       

                                    </div>
                                </div>   
                            </div>                
                        </div>
                    </div>
                         <div class="row">
                        <div class="col-md-4 mb-5">
                            <div class="box-service wow fadeInDown mt-0">
                                <div class="service-inner-img">
                                    <div class="img-overlay img-overlay-services"></div>
                                    <img src="~/img/testing/03.jpg" alt="Image"> 
                                </div>
                                <div class="service-inner-text" style="min-height: 405px;">
                                    <div class="icon zingbox-icon-enegy"></div>
                                    <div class="text-wrap">
                                        <p class="heading">
                                        <strong>Battery disposal:</strong> We follow the guidelines and regulations of the government and the industry for the proper disposal of used batteries. We ensure that the batteries are disposed of in an environmentally friendly manner without causing any harm to the people or the planet.</p>
                                        <div class="sep clearfix"></div>

                                  </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-5">
                            <div class="box-service wow fadeInUp  mt-0" >
                                <div class="service-inner-img">
                                    <div class="img-overlay img-overlay-services"></div>
                                    <img src="~/img/testing/02-Heat-and-Cold-Chamber.jpg" alt="Image">

                                </div>
                                <div class="service-inner-text" style="min-height: 405px;">
                                    <div class="icon zingbox-icon-enegy"></div>
                                    <div class="text-wrap">
                                        <p class="heading">
                                        <strong>Design and Engineering:</strong> RES provides design and engineering services for a variety of energy-related projects. RES engineers have expertise in thermal batteries, solar photovoltaic systems, and other renewable energy technologies. </p>
                                        <div class="sep clearfix"></div>

                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-5">
                            <div class="box-service wow fadeInDown mt-0" >
                                <div class="service-inner-img">
                                    <div class="img-overlay img-overlay-services"></div>
                                    <img src="~/img/testing/04.jpg" alt="Image"> 
                                </div>

                                <div class="service-inner-text" style="min-height: 405px;">
                                    <div class="icon zingbox-icon-enegy"></div>
                                    <div class="text-wrap">
                                        <p class="heading">
                                        <strong>Manufacturing:</strong> RES has state-of-the-art manufacturing facilities that are capable of producing a wide range of energy-related products. RES manufacturing processes are certified to ISO 9001:2015 standards. </p>
                                        <div class="sep clearfix"></div>                                       

                                    </div>
                                </div>   
                            </div>                
                        </div>
                    </div>
                          <div class="row">
                        <div class="col-md-4 mb-5">
                            <div class="box-service wow fadeInDown mt-0">
                                <div class="service-inner-img">
                                    <div class="img-overlay img-overlay-services"></div>
                                    <img src="~/img/testing/03.jpg" alt="Image"> 
                                </div>
                                <div class="service-inner-text" style="min-height: 405px;">
                                    <div class="icon zingbox-icon-enegy"></div>
                                    <div class="text-wrap">
                                        <p class="heading">
                                        <strong>Testing and Certification:</strong> RES has a team of experienced engineers and technicians who are qualified to test and certify energy-related products. RES testing and certification services are accredited to ISO 17025 standards. </p>
                                        <div class="sep clearfix"></div>

                                  </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-5">
                            <div class="box-service wow fadeInUp  mt-0" >
                                <div class="service-inner-img">
                                    <div class="img-overlay img-overlay-services"></div>
                                    <img src="~/img/testing/02-Heat-and-Cold-Chamber.jpg" alt="Image">

                                </div>
                                <div class="service-inner-text" style="min-height: 405px;">
                                    <div class="icon zingbox-icon-enegy"></div>
                                    <div class="text-wrap">
                                        <p class="heading">
                                        <strong>Sales and Support:</strong> RES has a team of experienced sales and support professionals who are committed to helping our customers find the right energy-related products and solutions. RES sales and support professionals are available to answer your questions and help you with your energy needs. </p>
                                        <div class="sep clearfix"></div>

                                  </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                            <div class="col-md-12">
                                <div class="themesflat-spacer clearfix" data-desktop="122" data-mobile="60" data-smobile="60"></div>
                            </div>
               <!-- /.container -->
            </div>
            <!-- END OUR CREATIVE TEAM -->


        </div>