@page
@model RES.Web.Pages.ThanksModel
@{
}

<!-- Header Banner-->
<div id="header-banner" class="clearfix">
    <div id="header-banner-inner" class="container clearfix">
        <div class="header-banner-inner-wrap">
            <div class="blog-standar-start">
                <h1 class="blog-standar-start1"><span class="heading-top">Thanks</span></h1>
            </div>

        </div><!-- /.header-banner-inner-wrap -->
    </div><!-- /#header-banner-inner -->

</div>
<!-- End Header Banner -->
<!-- OUR CREATIVE TEAM -->
<div class="row-our-team">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="themesflat-spacer clearfix" data-desktop="60" data-mobile="60" data-smobile="60"></div>
            </div><!-- /.col-md-12 -->
        </div>

        

        <div class="container">
            <div class="row">
                <h2>Thank you for contacting us. Our team of Customer Care specialists is already working on your request and we will be back in the shortest time possible.
</h2>
            </div>
           
        </div>

        <div class="col-md-12">
            <div class="themesflat-spacer clearfix" data-desktop="122" data-mobile="60" data-smobile="60"></div>
        </div>
        <!-- /.container -->
    </div>
    <!-- END OUR CREATIVE TEAM -->


</div>